[2015-02-11 14:03] winkler1 opened #1 "online demo please :)?"
for react.rocks -- thanks!

[2015-02-11 14:24] MicheleBertoli commented on #1
I <3 react.rocks!
Online demo is the next thing in my todo list, I'll let you know.
Thanks!

[2015-02-11 15:08] winkler1 commented on #1
Awesome, thanks!

[2015-02-12 08:51] MicheleBertoli commented on #1
Here is the demo: 3f2ca2d9989e9f0c33ca412957413872804ae7b0

[2015-02-12 08:51] #1 closed

[2015-04-02 05:20] neilff opened #3 "Cannot read property 'getMap' of undefined when using demo snippet"
When I used the provided demo snippet:

[code]

I was getting `Cannot read property 'getMap' of undefined` when trying to access `this.refs.Gmaps`, I changed this to:

[code]

And it fixed the issue. I assume it wasn't able to get the DOM reference previously. I can submit a PR if you think this is the correct approach.

[2015-04-02 07:10] MicheleBertoli commented on #3
Hey @neilff, I can't reproduce the error.
If I just run the demo snippet, I get this `onMapCreated Zk {gm_bindings_: Object, __gm: Ii, gm_accessors_: Object, center: lf, zoom: 12…}` in the console.
Can you please provide me a full non-working example?
Thanks!

[2015-04-02 16:23] neilff commented on #3
Interesting, I'm using Immutable, WebPack, Babel in my stack, I don't think that should cause any issues however... When I open source this project I'm working on, I can provide you the example of where it failed for me.

[2015-04-20 09:24] martinaglv opened #5 "Issue when installed as a dependency"
Hey, thanks for the great module! A maps react component is desperately needed and yours is the only one which works with 0.13 as far as I can see.

However there is one small issue that prevents it from being used. When react-gmaps is installed as a dependency to another module, no devDependencies are installed from your package.json, and your module needs them to run.

Maybe react and the babel-

[2015-04-20 09:35] MicheleBertoli commented on #5
Hey @martinaglv, thanks for the feedback.
I already removed all the dependencies in 1.6 (https://github.com/MicheleBertoli/react-gmaps/commit/014dd8a7bed2f5c59fbfc04bea1cc53003f2595c).
No breaking changes so I suggest you to upgrade the package.
Have a nice day!

[2015-04-20 09:35] #5 closed

[2015-04-23 11:11] iest opened #6 "React should be a peer dependancy"
Ran into [this issue](http://stackoverflow.com/questions/27153166/typeerror-when-using-react-cannot-read-property-firstchild-of-undefined).

Should just be a package change.

Also, shouldn't all the `dependancies` actually be `devDependancies`?

[2015-04-23 11:43] MicheleBertoli commented on #6
Thanks @iest!
I fixed that in 1.6 (014dd8a7bed2f5c59fbfc04bea1cc53003f2595c)

[2015-04-23 12:09] iest commented on #6
Derp!

[2015-04-23 12:09] #6 closed

[2015-05-07 21:28] loktar00 commented on #3
This is happening with me as well I am using react-router wondering if something with that is causing issues. On refresh it always works perfectly, however when switching pages it doesn't.. still looking into it on my end, @neilff  fix didn't work for my case.

[2015-05-08 07:05] MicheleBertoli commented on #3
Hey @loktar00, thanks for the feedback!
I absolutely want to fix that, can you please share with me a non-working example?
We are using both `react-gmaps` and `react-router` in production at [BIZZBY](https://www.bizzby.com) without any error, I really need help from you guys to find the problem.
Thanks!

[2015-06-27 07:44] MicheleBertoli commented on #3
hey @neilff @loktar00 any news about this? Thanks!

[2015-07-04 21:35] jnmandal commented on #3
I didn't get this exact error, but the problem could be that you need to bind this. Ie:

[code]
I absent mindedly copy-pasted the example to play around and was getting a "Uncaught TypeError: Cannot read property 'Gmaps' of undefined" until I added the binding.

Using webpack with babel-loader and react-hot.

[2015-07-05 07:26] MicheleBertoli commented on #3
Thanks @jnmandal, are you using es6 classes or did you just copy/paste the example on the readme?

[2015-07-05 08:49] #3 closed

[2015-07-05 08:51] MicheleBertoli commented on #3
@neilff checking your `react-liqbo` repo, I found and fixed the problem. Thanks!

@jnmandal it looks like you are using ES6 Classes, right?

[2015-07-06 14:21] jnmandal commented on #3
Yep, using ES6 classes.. Just realized you were using React's class constructor, that explains it!

[2015-07-06 17:24] MicheleBertoli commented on #3
@jnmandal perfect, thanks!

[2015-07-06 17:38] neilff commented on #3
@MicheleBertoli hey sorry, was away last few weeks, I'll take a look at the PR when I have a chance, thanks

[2015-08-03 18:46] laurenskling opened #10 "update with new props"
Great product. What would make it awesome is if it would update the map when my props change. I'm using the InfoWindow who's props can change. The Gmaps render is running but it doesn't take notice of my new props.

[2015-08-04 10:10] #10 closed

[2015-08-04 10:13] MicheleBertoli commented on #10
Thanks @laurenskling for your suggestion, I just updated the package :)

[2015-08-12 21:21] RobinMalfait opened #14 "Map is not re-rendering"
Hello

I have this problem that I'm drawing a circle on the map, the circle radius can change and thus the props change.
Can you fix it that the map is re-rendered when props change?

Thanks

[2015-08-13 06:35] MicheleBertoli commented on #14
Hey @RobinMalfait,

I just released an [update](https://github.com/MicheleBertoli/react-gmaps/blob/master/src/components/entity.js#L17) where the sub-components (Marker and InfoWindow) re-renders (updates their options) when the props change.
I'll do the same for the Gmaps component.

To be sure that this will fix your problem, can I please ask you how you are drawing the circle on the map?

Thank

[2015-08-13 07:23] RobinMalfait commented on #14
@MicheleBertoli sure, my Circle component looks like this:

[code]

Also, I don't know if you forgot to update the package on npm, it is still at 0.2?

[2015-08-13 09:27] MicheleBertoli commented on #14
I'm on it :)

![radius](https://cloud.githubusercontent.com/assets/1308971/9246789/d6a5158c-41a5-11e5-8132-24f0b03f3ebf.gif)

[2015-08-13 09:30] RobinMalfait commented on #14
Oh man, push as soon as possible on npm!

I have been trying it myself with no luck but flickering google maps..

Thanks very much!

[2015-08-13 09:40] #14 closed

[2015-08-13 09:43] RobinMalfait commented on #14
Awesome, only thing left is to update this :) https://www.npmjs.com/package/react-gmaps

[2015-08-13 09:52] MicheleBertoli commented on #14
I was waiting for the Travis process to complete :)

0.3.0 is on npm now and this is a little demo for your circle:
https://gist.github.com/MicheleBertoli/85bb8de4504484620315
If you have any questions please ask me.

Thank you very much @RobinMalfait.

[2015-08-13 09:52] RobinMalfait commented on #14
@MicheleBertoli  You sir, You are my hero!

Thank you very very much!

[2015-08-13 10:09] RobinMalfait opened #15 "When going to another route, not re-rendering properly"
Hello

Me again, I have found a new bug, maybe you know a solution.
When I got to a new route and go back, the map itself is not re-rendered but I see the Circle & Marker.

Circle & Marker are not centered but at position (0, 0) of the div (not the map itself)

Here is a video of the problem:

http://d.pr/v/14nEb

Thanks :)

[2015-08-13 10:15] RobinMalfait commented on #15
@MicheleBertoli I'm sorry haha

[2015-08-13 12:00] MicheleBertoli commented on #15
@RobinMalfait thank you very much!
I'll try to reproduce and fix it ;)

[2015-08-13 14:58] RobinMalfait commented on #15
If I completely destroy the map it will work:

http://d.pr/v/18Qrq

Also, it would be nice to have the map re-zoom if the circle bounds are bigger:

this.map.zoom(circle.getBounds()) or something?

[2015-08-13 17:21] MicheleBertoli commented on #15
hey @RobinMalfait

can you please give me more informations about the way you are doing the routing?
[this simple demo](https://gist.github.com/MicheleBertoli/76e529302eee196dbb4d) with `react-router` is working

![routing](https://cloud.githubusercontent.com/assets/1308971/9256546/f4506be4-41e7-11e5-9d63-eed84b9d4ea3.gif)

if you don't mind, I would ask you to open a different issue for the `boun

[2015-08-13 17:23] RobinMalfait commented on #15
I'm using react-router as well

[2015-08-13 20:15] MicheleBertoli commented on #15
It's weird, I hate non-reproducible bugs.
If you can give me more infos or code examples, I'll investigate deeper.

Also, If you upgrade the lib (0.3.1) and follow this example:
https://gist.github.com/MicheleBertoli/55b36359ce5b779990d6
You can update the bounds of the map according to the bounds of the circle.

![bounds](https://cloud.githubusercontent.com/assets/1308971/9260512/fdb5f862-41ff-11

[2015-08-14 18:32] RobinMalfait commented on #15
@MicheleBertoli thanks for the bounds thingy!

I'm trying to make a simpler version with the bug, once I did it, I'll show you!

[2015-08-14 18:48] RobinMalfait commented on #15
@MicheleBertoli Could it be that my data is too fast?

I have a event listener when my page gets focus, it re-fetches my location and redraws the map, which works.
But it is not drawing when the data is already there.

When I resize the browser it is also re-rendering, it is very very weird...

[2015-08-14 21:17] RobinMalfait commented on #15
@MicheleBertoli  I think that I found the bug! I have 2 maps, when the first is rendered, the second won't render correctly

[2015-08-15 07:19] MicheleBertoli commented on #15
@RobinMalfait Interesting, thanks!
I'll try to reproduce it but if you could send me some code it would help a lot.
Have a nice day

[2015-08-21 18:47] RobinMalfait opened #16 "Re-center on resize"
Hey Man

It's me again, I was a bit afk due to exams, but I'm back!

Here is another issue I have, the map is not centered on resize, maybe you could make this an option?

This is something I've found
https://gist.github.com/markthethomas/5da15a050f560cc58d4f

[2015-08-22 06:17] MicheleBertoli commented on #16
hey @RobinMalfait,
good luck for your exams ;)

Thanks again for your suggestion.
In this case I just think that's a very project-specific feature and it shouldn't be inside the package.

Anyway, it's easy to do it: take a look [here](https://gist.github.com/MicheleBertoli/76f782b37ad779bd81cb).

[2015-08-22 06:17] #16 closed

[2015-08-22 09:51] RobinMalfait commented on #16
Oh, perfect, thanks a lot :)

[2015-08-25 10:42] chiss2906 opened #17 "Custom styling"
There is no way to make custom buttons (like replacing the zoom in/out icons), markers, color themes (e.g. https://snazzymaps.com/).

[2015-08-25 17:56] MicheleBertoli commented on #17
Hey @chiss2906,
once the map is created, you can set any options.

 [This simple example](https://gist.github.com/MicheleBertoli/cbd07138c72ba3ad60e7) generates the following map:
<img width="413" alt="screen shot 2015-08-25 at 18 52 40" src="https://cloud.githubusercontent.com/assets/1308971/9474834/d4c26706-4b5a-11e5-9ba3-95447548741c.png">

[2015-08-26 10:35] wmertens commented on #17
Wouldn't it be easier to provide map options to the GMap props?

[2015-08-26 12:10] MicheleBertoli commented on #17
I would not say "easier" but we could do that.
It's all about making the Gmaps component accept all the options, like other components already do.
PRs are welcome :)

[2015-08-26 18:17] wmertens commented on #17
Untested, would something like this work:

[code]

That way it is both handy to use and supports all Google options...

Also, wouldn't it be better to pass the map to the `onMapCreated` callback?

[2015-08-26 20:02] #17 closed

[2015-08-26 20:07] MicheleBertoli commented on #17
@wmertens [here](https://gist.github.com/MicheleBertoli/38c7f5e7214f5e5ead06) we go.
Thanks for your contributions.

[2015-09-13 22:50] joschkarick commented on #15
I think I might have the same bug.

As soon as I use 2 GMaps components, neither of them works.
Here's the component:

[code]

This is the console output from Chrome.

I have 2 tabs which both include the component. If I include it on one tab only it's working perfectly fine.

Any ideas?

[2015-09-15 06:48] MicheleBertoli commented on #15
Thanks @joschkarick, I have been able to reproduce it.
A fix will come soon ;)

[2015-09-15 11:01] rolandsusans opened #19 "Is there way to customize InfoWindow style, from javascript etc components ?"
[code]
How can i apply custom style not using "hacky-css"?

[2015-09-15 18:33] rolandsusans commented on #19
Ok, i found some workaround in plane JS, will it be possible using Marker to create something like this:
http://codepen.io/anon/pen/wKMExr

[2015-09-15 19:42] MicheleBertoli commented on #19
hey @rolandsusans

it's not really related to this package and I'm not sure what you mean by "hacky-css" but you can style your InfoWindow with regular CSS, like:

<img width="408" alt="screen shot 2015-09-15 at 20 38 23" src="https://cloud.githubusercontent.com/assets/1308971/9887936/318da2f8-5bea-11e5-8b62-67694e696fe6.png">

[source](https://gist.github.com/MicheleBertoli/5d52ef31573cfe11c8c8)

[2015-09-15 19:42] #19 closed

[2015-09-15 20:42] #15 closed

[2015-09-15 20:50] MicheleBertoli commented on #15
The version 0.4.0 solves this problem, thanks @RobinMalfait and @joschkarick

[2015-09-19 09:23] RobinMalfait commented on #15
@MicheleBertoli perfect :)

[2015-09-25 07:36] sebprunier opened #20 "Map not rerendered correctly after state change"
Hi,

I use the Gmaps component this way :
[code]

The state may be changing this way (by clicking a button) :
[code]

When I click the button, the Marker rerenders correctly, but the map is not centered on the new lat and lon :-(

Did I miss something or is it a bug?

Thanks in advance for your help!
Sébastien

[2015-09-27 13:41] #20 closed

[2015-09-27 13:52] MicheleBertoli commented on #20
Hey @sebprunier,
thank you very much for your feedback.

I pushed a new version of the library ([0.4.1](https://github.com/MicheleBertoli/react-gmaps/releases/tag/0.4.1)) in which the map updates according to the new props.

[Here](https://gist.github.com/MicheleBertoli/0f209fd6922ebec85626) is an example:
![center](https://cloud.githubusercontent.com/assets/1308971/10123088/38d6cbbc-6526-11e5-835

[2015-09-28 14:01] sebprunier commented on #20
Great, it works now !
Thanks a lot !

(This was for a quizz about the districts of Nantes city (in France): http://nantes-quizz.cleverapps.io/quizz/district)

[2015-09-28 18:21] MicheleBertoli commented on #20
Perfect, thanks!

[2015-09-30 16:07] razagill opened #21 "Error on rendering"
Hi,
I'm getting the following error on adding the component.
```Unhandled promise rejection TypeError: Cannot read property 'setOptions' of null(…)```

Here is my component:
[code]

[2015-09-30 16:22] MicheleBertoli commented on #21
Hey @razagill,
thanks for your feedback.

Unfortunately I can't reproduce it with the latest build:
![set-options](https://cloud.githubusercontent.com/assets/1308971/10199255/c0355a1a-6797-11e5-9138-0110598b60ef.gif)

Can you please provide me more informations (like, how are you using this component)?

Cheers,
Michele

[2015-09-30 22:04] razagill commented on #21
@MicheleBertoli thanks for you response. I'm using the component with redux (not sure if that matter), there is nothing much going on the page other than this component and another custom list component (I'm using Immutable.js if that helps, but the props are const so it should be fine I guess.
Also, specifically here is the stacktrace:
[code]

[2015-10-01 07:14] nedzadk commented on #21
I have same error like @razagill. Might ne node4 issue since i am using it ?

[2015-10-01 07:19] MicheleBertoli commented on #21
Hey @razagill and @nedzadk,
thanks for your feedback.

It shouldn't be related to Redux or Node v4, it looks like your component is receiving new props before the Google Maps are loaded.

I've got a fix and I'll ship very soon.

[2015-10-01 07:33] nedzadk commented on #21
Thank you @MicheleBertoli

[2015-10-01 08:26] razagill commented on #21
@MicheleBertoli Yes, I think that's probably it. Thanks, looking forward to the fix.

[2015-10-01 08:43] #21 closed

[2015-10-01 08:49] MicheleBertoli commented on #21
[0.4.2](https://github.com/MicheleBertoli/react-gmaps/releases/tag/0.4.2) is shipped.
Let me know if everything is fixed, thanks @razagill and @nedzadk!

[2015-10-01 09:19] nedzadk commented on #21
Error is fixed now, thank you !

[2015-10-01 14:52] razagill commented on #21
@MicheleBertoli Thanks for the fix, however I'm getting another error now:
[code]
I'm not sure if it's still related to the `react-gmaps` though.

[2015-10-01 19:57] MicheleBertoli commented on #21
@razagill I never seen that error before (I mean, in general) but if you don't mind opening a new issue with more details I'll be happy to investigate :)

[2015-10-19 19:48] cgarvis opened #22 "Allow scrollwheel to be disabled."

[2015-10-20 09:26] MicheleBertoli commented on #22
Hello @cgarvis, you can do it using the `scrollwheel` attribute, like:

[code]

[2015-10-20 09:26] #22 closed

[2015-11-02 10:33] razagill opened #23 "Display directions"
Hi @MicheleBertoli, is there a way we can render direction on the map e.g. supply a origin and destination locations and draw a path between them?

[2015-11-04 10:20] MicheleBertoli commented on #23
Hello @razagill,

the `onMapCreated` callback passes you the `map` object so you can use it to do any kind of operations you usually do with the Google Maps SDK.

If you could give me a more detailed explanation about what you are trying to do (for example, a link to the Google documentation), I'll be happy to create a simple demo for you.

Thanks,
Michele

[2015-11-04 10:33] razagill commented on #23
Hi @MicheleBertoli, I was trying to implement https://developers.google.com/maps/documentation/directions/intro. But I guess that's a completely different api endpoint than the maps one. So it's more of an enhancement.

[2015-11-04 17:16] MicheleBertoli commented on #23
Hello @razagill,

yes, that's a completely different API.

However, you could show the directions on the map using the [directions service](https://developers.google.com/maps/documentation/javascript/directions) and the map object provided by the `onMapCreated` callback.
See: https://developers.google.com/maps/documentation/javascript/examples/directions-simple

Thanks,
Michele

[2015-11-04 17:16] #23 closed

[2015-11-10 13:38] nedzadk opened #25 "React 0.14.x support"
I get following warning
`Warning: Gmaps.getDOMNode(...) is deprecated. Please use ReactDOM.findDOMNode(instance) instead.` when upgraded to react 0.14.x.
What is your plan on supporting react 0.14.x ?

[2015-11-11 14:28] mewejo commented on #25
+1 ?

[2015-11-11 17:43] #25 closed

[2015-11-11 17:59] MicheleBertoli commented on #25
Thank you very much @nedzadk @mewejo
[1.1.0](https://github.com/MicheleBertoli/react-gmaps/releases/tag/1.1.0) is out, supporting react 0.14.

[2015-11-11 20:22] in15 opened #26 "React component in InfoWindow"
Is it possible to have a ReactComponent in InfoWindow with all the React component lifecycle functions, click handlers, etc?

I tried doing this, with the content passed to the InfoWindow being a component rendered to a string. onClick handlers in the component aren't firing.

If so, could you provide a short working example?

[2015-11-11 20:48] in15 commented on #26
Found a way to do it from another project: https://github.com/tomchentw/react-google-maps/issues/25#issuecomment-105894253

[2015-11-11 20:48] #26 closed

[2015-11-12 11:24] mewejo commented on #25
Thanks!

[2015-11-12 14:05] mewejo opened #27 "Map recentering on new props"
Hey,

Just implementing this module, which is great!

One issue, when moving a marker and saving its location back to the state, it updates the props of the maps center.

Is there a way to stop the map from re-centering, I know you added code to make it happen, but it would be nice if it was optional please :)

Thanks!

[2015-11-12 14:05] mewejo commented on #27
This is also affecting zoom of the map

[2015-11-16 12:00] #27 closed

[2015-11-16 12:10] MicheleBertoli commented on #27
Thank you very much @mewejo
You are right, I have been asked to update the map options **but** the component was updating the options too many times (even if they weren't changed).

Now the component is working as expected:
![drag](https://cloud.githubusercontent.com/assets/1308971/11181494/683c5718-8c5a-11e5-8acf-35f99efe3240.gif)
[source](https://gist.github.com/MicheleBertoli/2658419a7c65cdc4ad

[2015-12-02 02:00] dstockdale opened #28 "Using geolocation"
Sorry this is more of a query than an issue I think but how would you go about using Geolocation (as per what's already available in the maps api?

https://developers.google.com/maps/documentation/javascript/examples/map-geolocation

I'm trying to see if there's an event before the map is created but where the google maps api has been lazy loaded and can be used or maybe simply putting a step befo

[2015-12-03 13:43] MicheleBertoli commented on #28
Hey @dstockdale

You can do it using the `onMapCreated` callback, like:

![geolocation](https://cloud.githubusercontent.com/assets/1308971/11562025/24110cf2-99c3-11e5-8bbf-42cf20686cf7.gif)
[source](https://gist.github.com/MicheleBertoli/c118522aa3f5a0c1e988)

As you can see in the Google's example, they first create the map (`new google.maps.Map`) and then ask for the current position (`geolocati

[2015-12-03 13:43] #28 closed

[2015-12-03 15:12] dstockdale commented on #28
Thanks @MicheleBertoli. I did figure this out but I'd got your library a bit confused with gmaps.js and their example http://hpneo.github.io/gmaps/examples/geolocation.html which is why I was asking the dumb question about events. Too many tabs open! I think this is a useful bit of info for people using your component though. Nice work thank you.

[2015-12-11 10:18] vintlucky777 opened #29 "Terrific memory leaks on remounting"
## Memory leaks on frequently remounting components

In the case when we use a react-gmaps, say, in kind of "details-view" component, that will mount and unmount frequently, gmaps lead to huge memory leaks.

The good way would be to use a single instance of gmaps, accociated with DOM id of the parent element.

Moreover to that, to support hot-reloading, this instance can be stored in the `window`

[2015-12-11 10:19] vintlucky777 commented on #29
I've actually already been solving an issue like that in a project of mine. But I used native gmaps js API.
Should I make a PR to fix this?

[2015-12-13 12:48] MicheleBertoli commented on #29
Hey @vintlucky777,
thank you very much for pointing the problem out.

Personally, I never had any memory-related problems with the maps in my apps but I heard a lot of people complaining about it.

If you could submit a PR it would be great, in the meanwhile I'll try to reproduce the problem.

Have a nice day!

[2015-12-13 13:34] MicheleBertoli commented on #29
Here we go:

<img width="1530" alt="screen shot 2015-12-13 at 13 29 27" src="https://cloud.githubusercontent.com/assets/1308971/11767202/d4a85cdc-a19d-11e5-9098-124e7d587799.png">
[source](https://gist.github.com/MicheleBertoli/75de5da8fd625b51c03c)

[2016-01-06 21:53] gkrinc opened #32 "onDragEnd handler gets "unbound" when second Gmap and Marker created"
I have a Gmap with a draggable Marker which triggers and action to update state in the onDragEnd event handler, which works great.

When the user double-clicks on the Gmap I open a second Gmap in a react-modal dialog that's larger. The second Marker is also draggable and works fine the first time. When the dialog is closed, the Marker on the first Gmap no longer triggers the onDragEng event, but t

[2016-01-07 12:16] MicheleBertoli commented on #32
Thanks @gkrinc, I'm looking into it.

[2016-01-07 13:52] #32 closed

[2016-01-07 13:55] MicheleBertoli commented on #32
Thanks @gkrinc!
I managed to [reproduce](https://gist.github.com/MicheleBertoli/a973037d3a357634f8a4) the issue and I fixed it in [1.2.2](https://github.com/MicheleBertoli/react-gmaps/releases/tag/1.2.2).
It should now works as expected.

[2016-01-27 21:19] riaan53 opened #33 "Render react components on map"
Hi,

Thanks for a nice easy-to-use package :)

Would it be possible to render custom react components on the map at a specific lat/long? I want to do some animations and so on for markers/info and link them to a filterable list.

Thank you.

Regards,
Riaan

[2016-01-28 07:16] MicheleBertoli commented on #33
Hello @riaan53,
thanks for your contribution :)

Not sure what you mean by "render custom react components", do you have an example?
Is is something you can do using the Google Maps Api directly? If yes, how?

Have a nice day!

[2016-01-31 08:38] riaan53 commented on #33
Hi @MicheleBertoli,

Instead of the InfoWindow or markers on the map I want to render a react component at specific coordinates thats linked to a list next to the map. When hovering over the list the information in the react component changes with some animations. I see theres an closed issue thats more or less similar: https://github.com/MicheleBertoli/react-gmaps/issues/26

Thank you!

Regards,

[2016-02-01 00:55] emmaysebaert opened #34 ".babelrc references 'stage': 0 which is no longer valid in babel 6"
[code]

[2016-02-05 04:35] JoeMattie opened #35 "react should be in peerDependencies instead of dependencies"
the way it is now, I get the error ```TypeError when using React: Cannot read property 'firstChild' of undefined``` when using alongside the latest react.

[2016-02-05 05:00] subshad commented on #34
Hi Michael,

I've just opened PR #36 that addresses this issue. Can you please let me know if you need anything else?

[2016-02-05 07:06] MicheleBertoli commented on #34
Awesome @subshad, thanks!

[2016-02-05 12:56] #34 closed

[2016-02-05 13:04] #35 closed

[2016-02-05 13:04] MicheleBertoli commented on #35
Thank you very much @JoeMattie

[2016-02-10 07:06] MicheleBertoli commented on #33
Hello @riaan53,

the issue was about having the React components lifecycle inside a Google Maps component (e.g. InfoWindow), is that what you need?
Rendering an arbitrary React component at some coordinates doesn't look feasible.

If you could show me how would you do it with the Google Maps Api, it would make easier for me to understand your needs.

Have a nice day!

[2016-02-16 16:14] TGMorais opened #38 "Avoid re-rendering of map entities"
Hello,

I've been using react-gmaps for a little while, and I've notice that in some use cases, there is no way to prevent certain re-renders of map entities, like `<Marker>`.

Say for example one would have a component like so:

[code]

If for some reason the component `render()` is called again, say because of a change in the lengend state, the `markers` will also be re-render ( which will make

[2016-02-16 18:02] pjsinco opened #39 "How to best call fitBounds()?"
Thank you for this making this component.

In my map, I need to dynamically set the bounds, using the `fitBounds()` method on the instance of `google.Maps.map`. The map instance is available in `onMapCreated().`

Is there a way to update my map (call `fitBounds()`) outside of the `onMapCreated()` method? For example, can I grab hold of the map instance in one of React's lifecycle methods?

So, to

[2016-02-16 21:20] MicheleBertoli commented on #39
Hello @pjsinco,
there are two easy ways to call a method on the map instance outside the `onMapCreated` callback:

1 - storing the instance inside the component's state:
[code]
[code]

2 - accessing the Gmaps instance through the refs:
[code]
[code]
(note: calling the `getMap` before the `onMapCreated` returns `null`)

Here is a working [example](https://gist.github.com/MicheleBertoli/cb00b7cadf06

[2016-02-16 21:39] #38 closed

[2016-02-16 21:45] MicheleBertoli commented on #38
Hello @TGMorais,
thank you very much for your contribution.

I managed to [reproduce](https://gist.github.com/MicheleBertoli/c1bc19fc4f5b37f5c5a6) and [fix](https://github.com/MicheleBertoli/react-gmaps/releases/tag/1.4.2) the issue.

**Before**
![before](https://cloud.githubusercontent.com/assets/1308971/13092073/0fbd21fa-d4f6-11e5-8af1-e2ace5318c58.gif)

**After**
![after](https://cloud.githubus

[2016-02-16 22:24] pjsinco commented on #39
Super helpful! I got it to work using that second method—thank you!

[2016-02-16 22:24] #39 closed

[2016-02-17 14:54] TGMorais commented on #38
Thank you! :+1: :+1:

[2016-03-04 21:43] pjsinco opened #40 "InfoWindow problems"
Hi Michele.

I am having trouble with InfoWindow component—they are always open by default.

I dynamically populate my map with up to 25 Marker and InfoWindow components. I would like to have an InfoWindow open only when a marker is clicked. Will you please suggest the best way to do this?

If it helps, here is a snippet of my component. But please feel free to ignore it's not helpful.

[code]

[2016-03-05 08:46] MicheleBertoli commented on #40
Hello @pjsinco,

Starting from this points:
- Google Maps Info Windows are open by default
- React Components re-render when the state changes
- Creating the Info Windows on-demand is better

I created the following demo ([source](https://gist.github.com/MicheleBertoli/cdd3960f608574e49e24)):

![info](https://cloud.githubusercontent.com/assets/1308971/13546675/69a29370-e2ad-11e5-911f-94e1f20ec0b4.

[2016-03-05 08:47] MicheleBertoli commented on #33
I'm closing this due to inactivity

[2016-03-05 08:47] #33 closed

[2016-03-05 08:48] MicheleBertoli commented on #29
Any updates on this @vintlucky777?
Thanks!

[2016-03-05 08:51] vintlucky777 commented on #29
@MicheleBertoli I still find the only solution to actually work is the one when you manually keep the references to gmaps DOM-node and try to reutilize it as much as possible.
I'll put up a PR for this one.

[2016-03-06 12:22] pjsinco commented on #40
Perfecto! Thank you for taking time to make the example. It is very helpful and much appreciated!

[2016-03-06 12:22] #40 closed

[2016-03-08 07:26] urbantumbleweed commented on #14
I know this issue is closed but I appear to be having a similar issue. I have props being passed to the GMap object to create Markers.  When props updates that changes the number of markers, the map will not re-render.

The props being passed:
[code]

I have verified that I get the data I need and that the `<Markers /> components are being generated.  I have traced it to a non-rendering to a react

[2016-03-08 09:56] MicheleBertoli commented on #14
Hey @urbantumbleweed,
thanks for your comment!

First of all: Are you using the latest version of the package ([1.4.3](https://github.com/MicheleBertoli/react-gmaps/releases/tag/1.4.3))?
If not, please upgrade it :)

Unfortunately I couldn't reproduce your problem ([source](https://gist.github.com/MicheleBertoli/6b9639b988d15453b49c)):
![markers](https://cloud.githubusercontent.com/assets/1308971/

[2016-03-17 21:03] dianafaye17 opened #41 "Uncaught TypeError: _reactDom2.default.findDOMNode is not a function"
I get the following error message in my console:

    Uncaught TypeError: _reactDom2.default.findDOMNode is not a function

I'm getting desperate because yours is the 5th React Google Maps component I've tried and none except yours have come even close to working. My boss expects me to have a Google map on our React app and I'm at my wit's end. Thank you so much.

Here is my code:

    import {Gma

[2016-03-18 09:39] MicheleBertoli commented on #41
Hello @dianafaye17,
I'll be more than happy to help you :)
Which version of React are you using?
Thanks!

[2016-03-18 14:20] dianafaye17 commented on #41
Hi, Michele, I ended up following the Google documentation and writing my own component, so I got something working that way. Thank you so much for trying to help, though. That's wonderful of you. With the other solutions I used, it turned out that my problem was that I wasn't specifying a height for the map, so it was 0 px tall. X.X I certainly learned a lesson:  just because you don't see someth

[2016-03-18 18:07] dianafaye17 commented on #41
I'm not currently able to switch my React version.

[2016-03-18 18:07] #41 closed

[2016-03-22 06:45] alecguintu opened #42 "Using removed Babel 5 option"
I tried to use this today but I get an error on my webpack. What happening? I can add info I don't know what thoguh.

[code]

[2016-03-22 14:36] MicheleBertoli commented on #42
hey @alecguintu, can you please tell me which version of `react-gmaps` are you using?

[2016-03-22 20:35] #42 closed

[2016-03-22 20:40] MicheleBertoli commented on #42
Thanks @alecguintu, it should be fixed in [1.4.4](https://github.com/MicheleBertoli/react-gmaps/releases/tag/1.4.4).

[2016-03-23 04:57] dstockdale commented on #29
Hi @vintlucky777 / @MicheleBertoli. Any progress with this issue? I've come up against this happening as well now. I'll go ahead and have a look at what the issue is but don't want to redo anything that's already been sorted out.

[2016-03-23 09:25] MicheleBertoli commented on #29
Hey @dstockdale, I'm really interested in fixing this as well.
I was waiting for @vintlucky777 because he said he already got a solution.
If I won't receive any PR before Saturday, I'll fix it during the week-end.
Have a nice day!

[2016-03-23 12:11] jamiedumont opened #43 "Register API key"
How would you recommend registering the required API key when using this package?

There's obviously the `<script>` tag, but I'm unable to store the key in a private variable and append it to the URL within the HTML file.

Is there a way to do this from within the package?

[2016-03-23 13:46] MicheleBertoli commented on #43
Hey @jamiedumont,
the way I'm doing it in my apps is using the `params` prop of the `Gmap` components, like:

[code]

[2016-03-26 16:21] #43 closed

[2016-03-28 16:34] MicheleBertoli commented on #29
Hello @dstockdale and @vintlucky777,
I spent a few hours working on the memory issue and I've got some pretty good results to share.

Running [this script](https://gist.github.com/MicheleBertoli/75de5da8fd625b51c03c) 100 times on the current master gives the following results:

<img width="722" alt="screen shot 2016-03-28 at 17 26 44" src="https://cloud.githubusercontent.com/assets/1308971/1408288

[2016-03-30 10:50] jamiedumont commented on #43
Sorry it took me a while to reply. Thanks very much for the help!

[2016-03-31 17:23] pjsinco opened #44 "Adding properties to Marker component"
Hi Michele.

I am trying to render a complex marker icon, as Google describes [here](https://developers.google.com/maps/documentation/javascript/markers#complex_icons).

This works:
[code]

However, I need to add an ```origin``` property to my icon object:
[code]

This no longer works. Will you please tell me if there's a way to add this property to the marker?

[2016-04-01 10:19] MicheleBertoli commented on #44
Hello @pjsinco,
thanks for your question!

I can see two ways of solving this problem:

1) avoid using the `google.maps.Point` and passing an object instead:
[code]

2) waiting for the map to be created before rendering the `icon` (at that point, `google.maps` exists):
[code]

[2016-04-01 17:41] pjsinco commented on #44
Excellent—thank you again for your superb help!

[2016-04-01 17:41] #44 closed

[2016-04-03 18:07] ilrein opened #45 "API Keys"
Thanks for this great little library, do you guys mind explaining how to configure a legitimate API key here?

```Google Maps API warning: NoApiKeys https://developers.google.com/maps/documentation/javascript/error-messages#no-api-keys```

[2016-04-04 10:32] MicheleBertoli commented on #45
Thanks for your question @ilrein, please have a look here: #43.
I'll update the documentation soon.
Have a nice day!

[2016-04-04 10:32] #45 closed

[2016-04-08 03:12] bogas04 opened #46 "React 15 support ?"
It released today

[2016-04-11 07:39] bogas04 commented on #46
Will changing peer dependency enough ?

[2016-04-11 21:07] MicheleBertoli commented on #46
Hello @bogas04,
in the next few days I'll check if everything works with React 15 and I'll update the lib.
PRs are welcome :)

[2016-04-12 02:36] bogas04 commented on #46
Hey ! That's great ! Looking forward to it 😀

[2016-04-13 07:20] dstockdale commented on #29
Hi @MicheleBertoli sorry I've been having a bit of a nightmare with a project going gnarly on me but looks good. I'll test it out tomorrow and let you know how what I was working on runs with it.

[2016-04-13 08:17] MicheleBertoli commented on #29
Thank you very much @dstockdale, you can install it with `npm i react-gmaps@rc`.
I'm now happy with the code and the memory leak is fixed.

The only problem is that when you recycle a previously created map, you get a map with all the options you applied before. For example, if you set a custom style or you hide some controls you are going to get a map with those styles and controls all the time.

[2016-04-27 08:26] #46 closed

[2016-05-04 05:16] peterpetre opened #47 "Help with InfoWindow"
Hi there. I need some help with InfoWindow. I want to open a info window when i click on each marker. I have tried a lot of things but no luck until now.

[2016-05-04 07:54] MicheleBertoli commented on #47
Hello @peterpetre, please check my comment on #40 and let me know if it solves your problem.
Have a nice day!

[2016-05-05 23:22] peterpetre commented on #47
Hey, thanks it works fine! I got one more issue, i would like to setCenter when someone clicks on a marker with marker's lat lng. Have you implemented something like Gmaps.setCenter({lat: lat, lng: lng})?

[2016-05-07 06:59] MicheleBertoli commented on #47
Hello @peterpetre, there are two ways to change the center of the map:

Updating the lan, lng props of the Gmaps component ([source](https://gist.github.com/MicheleBertoli/321d28c7103359e53592c9deec19dfe4))

![center](https://cloud.githubusercontent.com/assets/1308971/15090724/7f8fe7f2-1429-11e6-8c7a-62c6863916a9.gif)

Using `panTo` (animated) or `setCenter` directly on the map ([source](https://g

[2016-05-08 14:31] peterpetre commented on #47
Thanks it works great! I was about to ask you about positioning infowindow above the icon but i found a way.

[code]

[2016-05-08 14:31] #47 closed

[2016-05-12 03:36] Morganjackson opened #48 "Thank You!"
@MicheleBertoli thank you for this awesome package!

 I lost a day trying to configure a couple of other options but this pretty much worked out of the box.

[2016-05-13 06:13] MicheleBertoli commented on #48
Thank you very much @Morganjackson
I'll write more docs soon.

[2016-05-13 06:13] #48 closed

[2016-05-26 19:24] philipgiuliani opened #50 "Adding one marker redraws everything"
When i add one marker to the map, its redrawing all markers (blinking).

Code:
[code]

[2016-05-27 09:55] MicheleBertoli commented on #50
Hey @philipgiuliani, what version are you using?
The problem you describe should be fixed in #38 (Release [1.4.2](https://github.com/MicheleBertoli/react-gmaps/releases/tag/1.4.2)).

[2016-05-28 12:47] philipgiuliani commented on #50
I am using
[code]

Maybe it is because im re-creating all objects on every zoom (content stays the same). I'll try to just append the new ones.

[2016-05-28 12:52] #50 closed

[2016-06-16 10:47] peterpetre opened #51 "Directions some help"
Hello there, i trying to add directions on an already drawed map to minimize api requests. The think is directionsDisplay.setMap(map); needs the map object from onMapCreated(map). There is any way to use this map object outside of it onMapCreated? Like on ComponentDidUpdate or something? Or there is any other solution? So i can play with changing direction request and to doesnt have to redraw the

[2016-06-17 15:01] MicheleBertoli commented on #51
Hey @peterpetre, is there any particular reason why you can't use the `onMapCreated` callback?
Thanks!

[2016-06-17 19:27] peterpetre commented on #51
@MicheleBertoli i can use it, the thing is onMapCreated is called once when the map is created right? What i want to do is to create once the map and render the directions on it but i directions info will change. Maybe if somehow can i take the map object or if there is onMapChanged(map) method. I tried to dispatch the map object on store (redux) and use it on ComponentDidUpdate() but it badly cra

[2016-06-18 07:26] MicheleBertoli commented on #51
Ok @peterpetre.
What I suggest you to do is to set the map `directionsDisplay.setMap(map);` once with `onMapCreated` and then run `directionsService.route` anytime you need.
If for any reason you have to set the map again, you can always use the `getMap()` method: you just have to add `ref` prop to the `Gmaps` component and then you can access it like this `this.refs.yourMapRef.getMap()`.
Hope thi

[2016-06-18 11:36] peterpetre commented on #51
@MicheleBertoli Hey thanks, so you suggest me to add
[code]
on onMapCreated? But how can i have access on these objects outside of onMapCreated?

[code]

[2016-06-18 13:58] MicheleBertoli commented on #51
@peterpetre like this:
[code]
and then:
[code]

[2016-06-18 15:09] peterpetre commented on #51
@MicheleBertoli Thanks a lot thats what i needed, have a nice weekend!

[2016-06-18 15:09] #51 closed

[2016-07-18 12:25] cekk opened #52 "markers clusterer?"
what do you think about adding support to markers clustering?

[2016-07-20 20:10] MicheleBertoli commented on #52
hey @cekk,
thanks for your question, it would be a very interesting feature.

I don't think I'm going to have time to work on it very soon but I will be more than happy to review a PR.

in the meanwhile, you can use the `onMapCreated` callback to access the original `map` and create your clusters.

[2016-08-08 15:40] cekk commented on #52
unluckily this is my first React project and i think that i will not be able to make a proper PR for this issue.

I've tried to use that event like you suggested, but i have some problems.
First of all, i retrieve the list of markers with an async ajax call to an external API, so when onMapCreated event is fired, i don't have yet the markers (first problem).

I tried to bypass this problem with a

[2016-08-08 20:21] MicheleBertoli commented on #52
hey @cekk

once the map has been created (and `onMapCreated` is fired) you can use the Google SDK methods, like `new google.maps.LatLng`.

also, if you need to access the map asynchronously (e.g. outside the `onMapCreated` callback) you can always do: `this.refs.YOUR_GMAP_REF.getMap()`.

hope this helps.

[2016-08-10 21:28] peterpetre commented on #52
Hi there, just solved this one.

OnMapCreated create the clusterer
`this.markerClusterer = new MarkerClusterer(map);`

then when your create markers
`this.markerClusterer.addMarker(yourmarker);`

[2016-08-11 08:24] cekk commented on #52
hi all, thanks for your help!

At the end, i skipped the creation of markers with React components of this library and managed all (markers, infowindows and clusters) with gmaps apis to not have mixed items, and because otherwise it doesn't works very well.

I really liked this library because is much easier than others, so if we can provide clusters feature in the future, could be a great thing.

[2016-08-11 08:31] MicheleBertoli commented on #52
thanks @cekk, please leave this issue open.
I'll implement the feature as soon as I'll some free time (unfortunately, I'm pretty busy until the end of October but who knows :)).
If anyone wants to open a PR I'll be happy to review and merge it.

[2016-08-11 08:51] em222iv opened #53 "Is there a way to change marker icons?"
The setIcon function from the maps API is not included, so is there any way to alter a marker icon after it has been set? Could the setIcon functionality be implemented?
I have tried setting intervals for the new iconlinks to be provided but but not succeeded.

Best regards

[2016-08-12 10:48] MicheleBertoli commented on #53
hey @em222iv

here we go:
![seticon](https://cloud.githubusercontent.com/assets/1308971/17620186/75f29442-6082-11e6-96fc-53a770f7db0f.gif)
[source](https://gist.github.com/MicheleBertoli/70eef44bcd607bef94a7b8197f86b68e)

hope this helps!

[2016-08-12 14:00] #53 closed

[2016-08-12 15:26] em222iv commented on #53
Thanks!

[2016-08-30 09:23] pedroresende opened #54 "bundle.js:41862 Uncaught TypeError: Cannot read property 'Map' of undefined"
My component is the following

[code]

[2016-08-31 19:39] MicheleBertoli commented on #54
hello @pedroresende

the line that should have given you the error is the following:
`this.map = new google.maps.Map`

which means that for some reason the `maps` property of the `google` object does not exist when the callback gets fired (which is really weird).

I've got some questions for you in order to find the problem:
- which version of the library are you using?
- do you have multiple maps

[2016-08-31 20:43] pedroresende commented on #54
Hi @MicheleBertoli,

I've installed using npm, I suppose the installed version is 1.5.0, yes I have multiple maps on the same page, however the other one was mounted using the default google api. About the DevTools, I don't see any error related with Google Maps SDK.

Do you think it is related with multiple maps on the same page, even though not being on the same container ?

[2016-09-02 06:26] MicheleBertoli commented on #54
can you try removing the other map and see if it works @pedroresende? thanks!

[2016-09-06 08:00] pedroresende commented on #54
@MicheleBertoli The problem remains the same

[2016-09-06 12:32] MicheleBertoli commented on #54
oh, that's interesting.
it there a way for you to provide me the failing code?
the code from your first comment is working for me unfortunately.
thanks!

[2016-09-12 15:22] riccardolorenzon opened #55 "Get the zoom level"
hi,

is it possible to get the current zoom level upon the `onZoomChanged` event?

i attached the event handler in this way :

[code]

but any parameter i add on that function results to be `undefined`.

[2016-09-12 16:21] MicheleBertoli commented on #55
hello @riccardolorenzon

the `zoom_changed` event is not passing any arguments:

![screen shot 2016-09-12 at 5 15 27 pm](https://cloud.githubusercontent.com/assets/1308971/18443451/e5d201ce-790c-11e6-9aad-65b0284d3a5e.png)

what you can do is to use the reference to the actual map instance:

[code]

![zoom](https://cloud.githubusercontent.com/assets/1308971/18443476/fb182900-790c-11e6-85cc-36fdc96

[2016-09-12 19:06] riccardolorenzon commented on #55
Hi @MicheleBertoli,

thank you for the quick answer.

Unfortunately when i try to get the `refs` object i get this exception:

`Uncaught TypeError: Cannot read property 'getMap' of undefined`

Any idea?

[2016-09-12 19:33] MicheleBertoli commented on #55
hey @riccardolorenzon,

it looks like you are using ES2015 classes and you forgot to bind the `handleZoomChanged` function in the constructor:

[code]

I hope this solves your problem, otherwise please share some code and I'll be happy to help you.

[2016-09-12 20:58] riccardolorenzon commented on #55
hey @MicheleBertoli,

i tried to bind the method but it didn't work.

Yeah i'm using ES6 classes, i also tried with the ES5 syntax(like in your example), but it didn't work.

this is the component i'm working on: https://github.com/riccardolorenzon/SF-Movies/blob/master/src/components/Map.js

[2016-09-12 22:12] MicheleBertoli commented on #55
ok @riccardolorenzon

so, if you set the ref as follows:
`ref={(googleMap) => this.gmap = googleMap}`

you then access the property with:
`this.gmap.getMap().getZoom()`

in my example I was doing:
`ref="Gmaps"`

and that's why the following was working:
`this.refs.Gmaps.getMap().getZoom()`

hope this helps!

[2016-09-13 07:44] riccardolorenzon commented on #55
Yeah, it works!

Grazie!!

[2016-09-13 07:44] #55 closed

[2016-09-14 14:39] BobLamarley opened #56 "_reactDom2.default.findDOMNode is not a function"
Hi @MicheleBertoli ,
I'm new in React JS and i want to try your library for a project which consists in get position of an Arduino Card connected to a GPS sensor.
The problem is : I can't display the map, and i don't know why, maybe my react version is too old ? I'm in react v0.13

There is my code :
`
import React, { Component } from 'react';
import ReactDOM from 'react-dom';
import {Gmaps, Marke

[2016-09-17 02:40] MatthewKosloski opened #57 "Get the coordinates of Marker"
I tried doing `this.refs.Gmaps.refs.Marker.getPosition().lat()` but it says:

    Uncaught TypeError: this.refs.Gmaps.refs.Marker.getPosition is not a function

Does the Marker even have a method `getPosition()`?  Does this component have all the methods that a regular Marker would have, like in vanilla JS?  Thank you for making this;  all the other React Google Map components are **very** confusi

[2016-09-17 02:56] MatthewKosloski commented on #57
Spoke too soon, found out how.  I just think the problem is that I'm unfamiliar with the Google Maps API and have no idea where to look for documentation and such.

    this.refs.Gmaps.refs.Marker.getEntity().internalPosition.lat()
    this.refs.Gmaps.refs.Marker.getEntity().internalPosition.lng()

[2016-09-18 20:58] MicheleBertoli commented on #56
Hello @BobLamarley ,
I'm sorry you have problems with the library.
My suggestion is to upgrade React because the version 0.13 is obsolete.

If for some reasons you can't do that, you may want to "downgrade" `react-gmaps` to the version `1.0.4` which uses React 0.13 and it should work.
Obviously, you are going to miss some features and some bug fixes.

[2016-09-18 20:58] #56 closed

[2016-09-19 09:33] MicheleBertoli commented on #57
Hello @MatthewKosloski

there are two ways of doing it:

1) when the `dragend` event is fired you read the coordinates from the event (and you can save them into the local state to be reused later):
[code]

2) when the button is clicked (or whenever you need it) you read the position from the entity:
[code]

Hope this helps.

[2016-09-20 15:29] tristandb opened #58 "Add Polygon"
Polygon isn't currently added to the API of the project. Is this possible in the feature?

[2016-09-20 16:18] tristandb commented on #58
Should be fixed in #59

[2016-09-21 12:33] MicheleBertoli commented on #58
Hey @tristandb
thanks for your issue and your PR.
I've just seen that you closed it, is there a reason for that?

[2016-09-21 20:29] tristandb commented on #58
It was closed because some files weren't included during the commit. I'll add them soon. I've added Polyline as well.

[2016-09-21 20:29] #58 closed

[2016-09-27 16:22] #57 closed

[2016-09-27 16:22] #54 closed

[2016-09-28 02:22] monski opened #60 "Question: plotting json data"
Hi I'm just new to javascript. can you help me achieve this?

onMapCreated(map) {
    var flightPlanCoordinates = [
        {lat: 37.772, lng: -122.214},
        {lat: 21.291, lng: -157.821},
        {lat: -18.142, lng: 178.431},
        {lat: -27.467, lng: 153.027}
      ];
      this.refs.gmaps.Polyline({
          path: flightPlanCoordinates,
          geodesic: true,
          strokeColor: '#F

[2016-09-28 07:37] MicheleBertoli commented on #60
hey @monski,
inside the `onMapCreated` callback you can use the map in the same way as the official example.

![screen shot 2016-09-28 at 08 31 45](https://cloud.githubusercontent.com/assets/1308971/18904520/4e6b2d5a-8556-11e6-84d9-4e43743028c3.png)

[code]

[source](https://gist.github.com/MicheleBertoli/b89695c63f2598347f2c2e9e28d0ad24)

[2016-09-28 07:37] #60 closed

[2016-09-28 12:23] riccardolorenzon opened #61 "Event `bounds_changed` is not firing up"
Hi,

I'm trying to attach a listener for the `bounds_changed` event.

In order to achieve this i add to the `Gmaps` object the event handler in this way :
[code]

and obviously i create the handler:

[code]

But i'm not getting any log. Any idea?

Thanks

[2016-09-29 13:23] MicheleBertoli commented on #61
Hey @riccardolorenzon,

the following code works for me:

[code]

<img width="400" alt="screen shot 2016-09-29 at 06 17 39" src="https://cloud.githubusercontent.com/assets/1308971/18955631/0c30fe9e-860d-11e6-89f4-499bb8b0bcf4.png">

Can you please check again and see if there's something wrong somewhere else in your code?

[2016-09-30 12:16] riccardolorenzon commented on #61
Hey @MicheleBertoli,

Apparently i did the same as you can see [here](https://github.com/riccardolorenzon/SF-Movies/blob/master/src/components/Map.js) , it does not work though.

I'm quite sure it's a trivial issue, but i cannot really figure it out.

[2016-09-30 13:01] MicheleBertoli commented on #61
I think i found the problem:

[code]

At line [72](https://github.com/riccardolorenzon/SF-Movies/blob/master/src/components/Map.js#L72) you have an extra `>`.

[2016-09-30 13:12] riccardolorenzon commented on #61
ooops!!

thanks!

[2016-09-30 13:12] #61 closed

[2016-10-06 10:18] peterpetre opened #62 "Unknown prop 'map' - warning"
[code]

I have this warning, did you @MicheleBertoli or anyone have already dealt with this?

[2016-10-09 23:11] MatthewKosloski opened #63 "onLoad event?"
Is there a way to call a function when the map has fully loaded?  I don't want to display "loading..." text or watch the map load the tiles.

Thanks!

[2016-10-10 10:55] MicheleBertoli commented on #63
Hello @MatthewKosloski
this problem is more related to the Google Maps SDK rather than the component itself.

I found [this](http://stackoverflow.com/a/7262773/1712895) questions on Stack Overflow and implemented a solution:

![idle](https://cloud.githubusercontent.com/assets/1308971/19233824/e2b56b8c-8edf-11e6-9a94-0495cfb1efaa.gif)
[source](https://gist.github.com/MicheleBertoli/a42095f0cc6e31e5

[2016-10-10 11:14] MicheleBertoli commented on #62
Hello @peterpetre,
can you please share more details to reproduce the issue?
Thanks!

[2016-10-11 03:11] monski opened #64 "Question: How To show InfoWindow on Marker Click"
Hello Again...
just want to ask help if how im going to show the InfoWindow once each marker is click..
Sample:
`<Gmaps>
                  this.state.pointsResult.map((g,i) => {
                    let infoClick = () => {
                      return(
                        <InfoWindow  key="info-1"
                            lat={g.lat}
                            lng={g.lng}

[2016-10-11 03:44] monski commented on #64
Please igore.. i found now the soln.. thanks

[2016-10-11 03:44] #64 closed

[2016-10-11 08:18] #63 closed

[2016-10-11 11:47] peterpetre commented on #62
[code]

This is the whole warning, now on the link they say:

1. Are you using {...this.props} or cloneElement(element, this.props)? Your component is transferring its own props directly to a child element (eg. https://facebook.github.io/react/docs/transferring-props.html). When transferring props to a child component, you should ensure that you are not accidentally forwarding props that were inte

[2016-10-11 14:47] MicheleBertoli commented on #62
Thanks @peterpetre,
I had the same error in one of the apps I'm working on but I haven't been able to reproduce it on the `react-gmaps` demo.
So I was more interested in details about your code or if you can just tell me the way to reproduce the issue using the  library.

[2016-10-18 11:07] peterpetre commented on #62
@MicheleBertoli ok i find out where this warning hits!!

[code]

when i have any element which is not from react-gmaps inside the Gmaps component.

[2016-10-18 19:57] FidelisClayton opened #65 ""map.setOptions is not a function""
"map.setOptions is not a function" when i'm trying to set map styles;

[code]

[2016-10-19 09:31] MicheleBertoli commented on #62
Oh, I see @peterpetre.
Do you really need to put a `span` as a child of the map?
Do you mind if I ask you the reason why you are doing that?
Thanks!

[2016-10-19 09:44] MicheleBertoli commented on #65
Hello @FidelisClayton,
I'm not able to reproduce your error, can you please give me more information?
I'll be happy to help!

[2016-10-19 09:54] peterpetre commented on #62
Yea sure,

I have a sidebar, with a small map with directions, and i have a button on the map to make this map fullscreen with an animation.

Now i had some displaying issues on the map being width/height 100% and do it on a parent div, so i have added the button as a child of the map.

But its a bit confusing functionality, so i will try to figure out something else. At least we found from where

[2016-10-19 12:06] FidelisClayton commented on #65
Here's my code:

[code]

The **"Map"** component doesn't have the "setOption" function, so how can i apply a new style to my map?

Following this docs: https://developers.google.com/maps/documentation/javascript/styling?hl=pt-br

[2016-10-19 13:54] MicheleBertoli commented on #65
Oh, now I can see the problem @FidelisClayton.
You are using the ref of the Map component you created as if it was the Google Map object (which is not).
Not sure what `withGoogleMap` does but the callback you have to use is `onMapCreated`, please check the example in the [README](https://github.com/MicheleBertoli/react-gmaps#usage)

[2016-10-19 13:57] MicheleBertoli commented on #62
Yes, thank you very much @peterpetre.
I'm thinking about a full rewriting of the Components as well as an upgrade of React and a fix for #29 in the next few months.

[2016-10-19 13:57] #62 closed

[2016-10-19 14:14] #65 closed

[2016-10-19 14:28] FidelisClayton commented on #65
i'm so embarrassed, i was using a wrong component (tomchentw/react-google-maps). Thanks for your help and i'm so sorry for this issue. BTW, now i'm using your component, it sounds great!

[2016-10-24 04:35] monski opened #66 "Question: Multiple Marker Color"
Hello,

Just want to ask if i can change the marker on the defined position?
Sample: i want on the point 2, the marker will be the green, and the the rest is circle
`<Gmaps
                ref="gmaps"
                params={{v: '3.exp', key: variables.gmapsApi}}
                width={'auto'}
                height={'600px'}
                lat={this.state.clickPoints.lat}
                lng={th

[2016-10-25 18:32] MicheleBertoli commented on #66
Hello @monski,
not sure I understand your questions but the following demo should help:

<img width="407" alt="screen shot 2016-10-25 at 19 30 09" src="https://cloud.githubusercontent.com/assets/1308971/19699048/937625fa-9ae9-11e6-8179-e334b843da08.png">
[source](https://gist.github.com/MicheleBertoli/89a35d07c7b51c347b7a99b549752d51)

Please let me know if you have any other questions.

[2016-10-26 05:22] MatthewKosloski opened #67 "Map goes back to original position on mouseout"
When I drag the map then mouseout, the map goes back to its original position.  I know you can't really help me without looking at my code, and I'm unable to isolate the issue.  I was just wondering if you have ever experienced this and found a solution?

Thanks!

![](https://d17oy1vhnax1f7.cloudfront.net/items/2F3D0M1O0c0u0o0C1i2L/Screen%20Recording%202016-10-26%20at%2012.18%20AM.gif?v=d356be2a)

[2016-10-26 09:29] ofostier opened #68 "Question : About build.js"
Hello Michele,

I'm trying to use react-gmaps but i don't understand where the build.js come from.
If i download the source and write it near the index.js, it works

Thx

[2016-10-27 01:12] MatthewKosloski commented on #67
Figured out the problem:  It was the mouseover events attached to the parent

[2016-10-27 01:12] #67 closed

[2016-10-27 03:03] monski commented on #66
Hello Michele,
thanks for the reply, i figured it out also that it needs two separate array of the position for that..
 thanks again

[2016-10-27 03:03] #66 closed

[2016-10-30 16:34] MicheleBertoli commented on #68
Hello @ofostier,
I guess the `build.js` you are talking about is the demo one, right?
It comes from this [script](https://github.com/MicheleBertoli/react-gmaps/blob/master/package.json#L11).

But I don't think you should care about it if you want to use the library.
Please run `npm install --save react-gmaps` and then use `const { Gmaps } from 'react-gmaps'` in your application.

Hope this helps!

[2016-10-30 16:34] #68 closed

[2016-11-04 14:08] ofostier commented on #68
Thanks Michele for your feed back

The error is between my chair and my laptop ....

Really thx

[2016-11-07 06:35] mteichtahl opened #69 "Marker Icons"
Is it possible to change the Icon with this component ?

I have tried the code below with no luck

 <Marker
                          key={index.toString() + '.1'}
                          label={data.city}
                          name={data.city}
                          position={{ lat: data.lat, lng: data.lng }}
                          icon="https://developers.google.com/maps/documentatio

[2016-11-07 07:31] MicheleBertoli commented on #69
Hello @mteichtahl, please have a look at the issue #53, it should answer your question.

[2016-11-07 07:31] #69 closed

[2016-11-11 13:01] phibsholo opened #70 "Add option to allow disable componentWillReceiveProps actions"
Hi!!
When I was using your component I found an interaction that I don't need. When gmaps component receive props, do a centering map and for me it was horrible, because the new prop that I add is a new info window and I want that don't miss the focus.
For this reason I do next change in your code and works good without affecting your current behaviour.

I did this change into `react-gmaps/dist/co

[2016-11-13 08:49] MicheleBertoli commented on #70
Hello @phibsholo, thanks for opening the issue.

There are two reasons why the map is moving back to its center when the info window gets added:

1) you are passing an object to the map as `params` that gets newly created on each render and it causes the map to refresh.

See example 1 ([source](https://gist.github.com/MicheleBertoli/91d98a0f3a9b8204c7f97d86c229faf1)):

![1](https://cloud.githubuse

[2016-11-14 09:22] phibsholo commented on #70
Hello Michele,

Thanks for the fast answer, but I have to comment to you that this solution doesn't solve my problem... because I create the info window when user do a click into a marker.. and the new window appears in the same markers latitude-longitude, and if user did a zoom, it will be lost.

I tried a lot of manners to draw the window to avoid the center effects, but anything solves except s

[2016-11-14 09:47] MicheleBertoli commented on #70
Hello @phibsholo,

From what I can see in your code:

[code]

You are still creating the `params` object on each render, which causes the re-centering.

As I suggested in my point 1):

As you can see in the following gif, creating the `params` once outside the render and using it on each render fixes the problem without needing to hack into `componentWillReceiveProps`.

![4](https://cloud.githubus

[2016-11-14 10:01] phibsholo commented on #70
Aaaaa!!! it's true... sorry!!

I will try it!! thanks a lot!!!

[2016-11-14 10:10] phibsholo commented on #70
It works!!! Thanks a lot ;)

[2016-11-14 10:13] MicheleBertoli commented on #70
You are welcome @phibsholo
I'm very happy it works as expected now

[2016-11-14 10:13] #70 closed

[2016-11-15 03:36] monski opened #71 "Help: Adding SearchBox for places.."
Hello can you help me add a searchbox on gmaps?

i did this on:

  onMapCreated(map) {
    var input = document.getElementById(  document.getElementById('searchmap') );
    var searchBox = new google.maps.places.SearchBox(input);

but getting error "Uncaught TypeError: Cannot read property 'SearchBox' of undefine"

thanks in advance

[2016-11-15 03:46] monski commented on #71
Sorry for the post... i figured it out already, adding key in params of the component...

thanks

[2016-11-15 03:46] #71 closed

[2016-11-21 21:07] n1cklarosa commented on #71
Are you able to post an example of your working code? I cant get a searchbox happening at all.

[2016-11-21 22:42] monski commented on #71
Hi,

get the sample code here:
https://developers.google.com/maps/documentation/javascript/examples/places-searchbox

then on React Gmaps

`const Maps = React.createClass({
  Gmaps: {},
onMapCreated(map) {
      let input = this.refs.searchmap
      let searchBox = new google.maps.places.SearchBox(input);
// and some of the code from the lin
`
then add a params in Gmaps component
  params={{v: '3.

[2016-11-21 23:48] n1cklarosa commented on #71
thanks!

[2016-11-28 01:04] MatthewKosloski commented on #53
Is there a way to set the icon when the component mounts to prevent the default red icon from showing up?  I can't set the icon in `componentDidMount` because the `refs` are not defined.  I can do it in `componentDidUpdate`, but it only sets the icon if you click on the map.

[2016-11-29 08:46] MicheleBertoli commented on #53
Hello @MatthewKosloski,
instead of applying the icon on `componentDidMount`, you could do:

[code]

Hope this answers your questions.

[2016-11-29 18:49] ryananglem opened #72 "How do I set the language for the map?"
In the google maps API it describes a language setting here:

`  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&language=ja&region=JP"
    async defer>`

I've tried adding the language attribute to the params eg.

`{v: '3.exp', key:process.env.REACT_APP_GOOGLE_MAP_KEY, language:'fr'};`

.. but this does not work. Where should I put it?

[2016-11-29 21:48] MicheleBertoli commented on #72
Hello @ryananglem,

I've tried this:

[code]

And it seems to work:

<img width="415" alt="screen shot 2016-11-29 at 21 46 04" src="https://cloud.githubusercontent.com/assets/1308971/20730272/586a3910-b67d-11e6-8b30-f62a7d584429.png">

[2016-11-29 21:48] #72 closed

[2016-11-30 12:03] ryananglem commented on #72
Thanks. It seems that the map was being translated to French by selecting 'fr' - it kept all the English street names which confused me, but translated the terms and conditions message and other system type text which I didn't immediately notice.

[2016-12-01 05:41] MatthewKosloski commented on #53
Oh, that works quite nicely. Thanks!

[2016-12-08 08:03] aleksays opened #73 "How can I change marker view?"

[2016-12-08 12:30] MicheleBertoli commented on #73
Hey @aleksays, can you please give me more information?
Maybe a link to the Google Maps documentation?
Thanks!

[2016-12-15 06:35] kunall17 commented on #73
@aleksays If you are asking to change the marker icon then this issue would serve your purpose! https://github.com/MicheleBertoli/react-gmaps/issues/53

[2017-01-04 14:05] TaankYou opened #76 "Marker size ?"
Hi,

How can i set the size of a marker ?

Thanks

[2017-01-05 09:58] MicheleBertoli commented on #76
You should use the `icon` attribute of the `Marker`, which has a `size` [property](https://developers.google.com/maps/documentation/javascript/3.exp/reference#Icon).

[2017-01-05 09:58] #76 closed

[2017-01-17 10:47] AntoineReneleau opened #77 "Static Map as loadingMessage"
I'm using [Static Gmaps](https://developers.google.com/maps/documentation/static-maps/intro?hl=fr) as my loadingMessage and I thought maybe it would be a good feature to put as default loadingMessage.
Let me know if you want me to push a PR 🙂

[2017-01-17 20:23] MicheleBertoli commented on #77
That's actually a very smart solution, PRs are more than welcome.
Thanks for asking.

[2017-01-19 17:05] edap commented on #52
This feature would be really nice to have. @peterpetre, did you manage to use the `Marker` component with `this.markerClusterer.addMarker(yourmarker);` how?

[2017-01-19 18:24] peterpetre commented on #52
Unfortunately not with Marker component, but with google.maps.Marker
check my detailed solution below plus a quick solution for markers overlapping :)

[code]

[2017-01-20 08:42] edap commented on #52
Thank you @peterpetre for your detailed explanation.  But I'm using react-route, and I will have do display a link in the marker using a link component, and I do not think that is possible to inject react component in markers created in the way that you've described.

[2017-01-22 08:00] amrbz opened #78 "Custom dialog window on marker click"
Hey, everyone!
I'm having several markers on map at the same time. Each of them can be provided with unique key.
In this case, what is the best way to show a custom dialog on marker click?

[code]

[2017-01-22 09:02] MicheleBertoli commented on #78
Hello @amrbz, the example in #40 should give you some hints.
Please let me know if it answers your question and is clear enough.

[2017-01-22 09:02] #73 closed

[2017-01-25 18:05] jebzaki opened #79 "Toggling infowindow resets map zoom"
Following other examples you've posted here I've set my info windows to show and hide on click. Unfortunately that renders the view again and set the zoom level back tot he original level.

Any way I could prevent this?

[2017-01-25 20:50] dancormier opened #80 "Markers spanning multiple tiles are split"
In Safari (10.0.3), map pins that span multiple tiles have a 1px missing portion where tiles meet.

![2017-01-25_167x113](https://cloud.githubusercontent.com/assets/647177/22308540/6a3b588a-e315-11e6-88cf-bbe4057bb15d.png)

This is remedied in the inspector by setting `overflow: visible` of tile on left side of split, but I'm not sure how to actually fix this.

[2017-01-26 20:37] MicheleBertoli commented on #79
Can you please provide me some code to reproduce the problem?
I will be more than happy to help @jebzaki

[2017-01-26 20:43] MicheleBertoli commented on #80
The library doesn't do anything on top of the Google Maps SDK in order to render the marker.
Can you please verify whether you have the same issue without using the component @dancormier ?

[2017-01-27 00:35] jebzaki commented on #79
Please see my code below thanks for the reply!

[code]

[2017-01-27 16:02] dancormier commented on #80
Closing this issues, since this is a in fact Google Maps issue specific to Safari. Found this example on an example not using this plugin.
![2017-01-27_131x101](https://cloud.githubusercontent.com/assets/647177/22377451/ff416346-e47f-11e6-971a-3f10c61b8f67.png)

[2017-01-27 16:02] #80 closed

[2017-02-04 20:50] feux07 opened #81 "How to add OverlayView with react-gmaps?"
Hey, everyone!

Can we use OverlayView with react-gmaps like this [example](https://tomchentw.github.io/react-google-maps/basics/overlay-view) ?

[2017-02-05 04:30] MicheleBertoli commented on #79
Hello @jebzaki, thanks for providing the code to reproduce the issue.
Luckily, the fix is easy.

Gmaps is designed in a way that if the props change (apart from some exceptions like event handlers), the map gets updated.
Now, the way you are passing `params` to the main Gmaps components is the cause of the problem.

In fact, even if the values of the object don't change, the component is receiving

[2017-02-05 04:30] #79 closed

[2017-02-05 04:30] #78 closed

[2017-02-05 04:40] MicheleBertoli commented on #81
Hello @feux07,
at the moment there's no `Overlay` component in `react-gmaps` (PRs are welcome :)).

Luckily, there's the `onMapCreated` callback which provides you the actual map instance.
At that point, you can do all the things you do with the regular Google Maps SDK (e.g. adding overlays).

For instance, following [this](https://developers.google.com/maps/documentation/javascript/examples/overl

[2017-02-17 02:45] mebrunet opened #82 "Map re-centers on re-render"
When I change the lat / lng values of one of the Markers or Circles in the map, the map seems to re-center itself to its original position (i.e. to its lat, lng props). How can this be avoided? I don't want the current view of the map to change when I dynamically move Markers or Circles around.

[2017-02-19 15:30] monski opened #83 "Same Marker always clicked"
Hi I got some weird problems.. im always clicking the marker at location 0,0
usually i have 10 at the last data it has lat and lng of 0,0 and each marker i click it was default their.. thanks
[code]

[2017-02-19 18:15] #81 closed

[2017-02-19 18:15] MicheleBertoli commented on #82
Hello @mebrunet, that shouldn't happen.
Can you please provide an example to reproduce the issue?
Thanks!

[2017-02-21 05:15] MicheleBertoli commented on #83
Hello @monski
I'm not sure I understand the problem
Can you please give me more information?
Thanks!

[2017-02-21 05:19] monski commented on #83
Hi Michele,
thanks for the reply, please consider this as close...close, i did fix now my problem.. what i did is clear previous marker before putting new marker again..

Thanks

[2017-02-21 05:19] #83 closed

[2017-02-21 06:44] MicahSteinbrecher opened #84 "Get coordinates of map center"
Is this possible? I'm trying to get the coordinates of the maps center on a drag event and am not sure how. Here is my code:

[code]

'e' is undefined in the onDrag event handler.

[2017-02-22 06:21] MicahSteinbrecher commented on #84
Solved this problem by assigning the map a ref

[2017-02-22 06:21] #84 closed

[2017-02-24 05:21] ashishchoudhary12 commented on #19
how to hide infow window close button???

[2017-02-24 06:31] MicheleBertoli commented on #19
http://lmgtfy.com/?q=how+to+hide+infow+window+close+button%3F%3F%3F

[2017-02-24 10:52] feux07 commented on #81
Hi @MicheleBertoli,

I forgot to thanks, for your quick reply and your awesome component.

Have a nice working day

[2017-03-03 21:12] #82 closed

[2017-03-03 22:57] mebrunet commented on #82
In the example below, the map re-centers every 3 seconds. I saw no clear way around this so I just pulled react-google-maps into the project instead.

[code]

[2017-03-04 08:55] MicheleBertoli commented on #82
Hey @mebrunet.
Luckily, the solution is easy and the cause is not the package.
It's more about the way JavaScript works.

The GMap component "refreshes" because you are passing different props to it every 3 secs.
In fact, even if `{v: '3.exp'}` never changes, a new object gets created on every render.

If you just define a `const params = {v: '3.exp'}` outside the render and you use it to set the

[2017-03-04 16:37] MicheleBertoli commented on #82
Thanks for taking time to work on this @mebrunet.
However, I don't believe the library should make any assumption on the way devs are using it.

Deep comparison is expensive, and the [PureComponent](https://facebook.github.io/react/docs/react-api.html#react.purecomponent) is behaving in the same way.
Creating constant objects inside the render is an anti-pattern and it should be avoided in general

[2017-03-04 17:19] mebrunet commented on #82
Fair enough... no reason to babysit people like me ;)

Maybe it would be worth adding a note to the readme though? Even when props are flat, I don't expect a change in their value to reset the component's state.

Also, perhaps not coding the anti-pattern into the landing page example if it's known to cause problems with this component?

[2017-03-04 17:40] MicheleBertoli commented on #82
I don't think is about "babysitting".
Even if the library would hide the problem in this scenario, creating const in that way could potentially harm the perf or your application (if you are using pure components) and therefore it should be avoided.

In fact, it doesn't cause problems only to this component but to any component that re-render when the props change.

In the readme example it doesn't

[2017-03-04 18:07] mebrunet commented on #82
@MicheleBertoli - I realize my last comment may have sounded sassy. Apologies, not my intent. Was simply agreeing that it was unnecessary (and you're right -- probably harmful) to try and build in "catches" when the problem was elsewhere.  Also just identifying where I tripped up using the lib.

From a performance standpoint you're prob right, but I've never seen it affect behaviour / reset state.

[2017-03-04 19:22] MicheleBertoli commented on #82
Absolutely clear, thanks for your comment :)

[2017-03-05 17:00] feux07 opened #85 "How to render React component in InfoWindow content?"
Hi everyone,

How to render React component in InfoWindow content? When I use ReactDOMServer.renderToString() method it is possible but events are not working with this way. As an example I prepared to this online webpackbin. [https://www.webpackbin.com/bins/-KeUKeaOdpWnBZT9qFl8](https://www.webpackbin.com/bins/-KeUKeaOdpWnBZT9qFl8)  When you click button in info window, onClick event not working.

[2017-03-10 22:32] MicheleBertoli commented on #85
Hello @feux07!

Unfortunately `renderToString` does not activate the event handlers, and there are no other ways to render React components inside an InfoWindow at the moment.

PRs are welcome :)

[2017-03-10 22:32] #85 closed

[2017-03-23 21:48] IronTony opened #87 "Change Circle color"
Hello,

is there a way to change the Circle and the border color?
Best and thank you in advance.

[2017-03-24 10:50] otoinsa opened #88 "Lat, long props not respected"
When I pass the lat, lng props, they don't seem to be taking any effect - the map renders London, my location is far from it...

![image](https://cloud.githubusercontent.com/assets/7381482/24291045/fbc04502-108f-11e7-8af3-57657b841d01.png)

![image](https://cloud.githubusercontent.com/assets/7381482/24291168/7e90c1f0-1090-11e7-90c8-1ddaebdde2f0.png)

![image](https://cloud.githubusercontent.com/as

[2017-03-24 11:12] otoinsa commented on #88
Sry, was a problem with caching (did not see changes)

[2017-03-24 11:13] #88 closed

[2017-03-25 13:19] MicheleBertoli commented on #87
Sure @IronTony,
all the [options](https://developers.google.com/maps/documentation/javascript/reference#CircleOptions) of the Circle class work.

[code]

<img width="421" alt="screen shot 2017-03-25 at 13 17 52" src="https://cloud.githubusercontent.com/assets/1308971/24322520/9940faa6-115d-11e7-992b-84d8d1ca25ca.png">

[2017-03-25 13:19] #87 closed

[2017-03-26 09:21] IronTony commented on #87
Awesome, thank you!
Another question I forgot. Is it also possibile to change the style of the external line in dashed, dotted style?

[2017-03-26 17:41] MicheleBertoli commented on #87
You can apply all the style changes allowed by the Google Maps SDK.

[2017-04-10 14:42] hhelb opened #89 "This request has been blocked; the content must be served over HTTPS."
Hi, first of all thanks for your work.
I ran into this error while in production:

`Mixed Content: The page at 'https://MyUrl.com' was loaded over HTTPS, but requested an insecure resource 'http://maps.googleapis.com/maps/api/geocode/json?latlng=46.19018519999999,6.1402054000000135'. This request has been blocked; the content must be served over HTTPS.`

Do you know where I can write the request t

[2017-04-11 07:40] #89 closed

[2017-05-12 17:32] rodmerritt opened #91 "Create onClick for the Map component"
Is there a way to get long/lat from a click event on the Map component?

[2017-05-14 09:46] endziu commented on #91
of course. something like this should work:
`<Gmaps onClick={(event)=>console.log('click', event.latLng.lat(), event.latLng.lng())} />`

[2017-05-14 16:01] MicheleBertoli commented on #91
Thanks for your answer @endziu, it works exactly like that.

@rodmerritt this package supports all the map events out of the box, and you can attach the handlers using the `onEventName` pattern.
Your handlers will receive the same parameters the Google SDK is passing, for example the click event receives the following parameter:
https://developers.google.com/maps/documentation/javascript/3.exp/ref

[2017-05-14 16:01] #91 closed

[2017-05-14 16:01] MicheleBertoli commented on #91
Thanks for your answer @endziu, it works exactly like that.

@rodmerritt this package supports all the map events out of the box, and you can attach the handlers using the `onEventName` pattern.
Your handlers will receive the same parameters the Google SDK is passing, for example the click event receives the following parameter:
https://developers.google.com/maps/documentation/javascript/3.exp/ref

[2017-05-15 12:22] umairfarooq44 opened #92 "Zoom level according to markers"
I want to make all the markers visible on the map. How can I set zoom level automatically to make all markers visible on the map all the time, regardless of the distance between markers and no. of markers?

[2017-05-15 19:21] MicheleBertoli commented on #92
In the `onMapCreated` callback you receive the instance of the map, at that point you should be able to follow this: http://stackoverflow.com/a/19304625/1712895
Please let me know if you need more help.

[2017-05-16 07:17] umairfarooq44 commented on #92
Thanks a lot for providing solution. My issue has been solved. Please close this issue

[2017-05-16 07:27] #92 closed

[2017-05-16 15:40] rodmerritt opened #93 "Display Routes"
Is there a way to display actual routes on the map? Is the map object exposed somehow?

[2017-05-16 15:42] malexandrum opened #94 "Any way to access the map object to display a route?"
We need to display a route between markers and I don't see support for that. If you would expose the map object though, we could do it.

[2017-05-16 20:20] MicheleBertoli commented on #93
Sure, the `onMapCreated` callback gives you the map object as a parameter.
Hope this helps.

[2017-05-16 20:20] #93 closed

[2017-05-16 20:21] MicheleBertoli commented on #94
You can access the original map object as a parameter of the `onMapCreated` callback.
Hope this helps.

[2017-05-16 20:21] #94 closed

[2017-05-16 20:21] MicheleBertoli commented on #77
Any update on this @AntoineReneleau?
It was a pretty cool idea :)

[2017-05-17 02:38] malexandrum commented on #94
Yes, that did it, thank you

[2017-05-17 15:32] malexandrum opened #95 "onClick on Marker is not sending reference to the Marker"
I didn't find a way to get a reference to the Marker object in the onClick handler, could you shed some light?
Thanks again!

[2017-05-17 15:42] nschurmann opened #96 "Events on dragEnd and dragStart is not being injected"
Hello!, i have this class:

[code]

the dragEnd and dragStart methods are not receiving the E argument. I need to get the latutide and longitude after a dragEnd, how can i get that?

[2017-05-17 15:55] MicheleBertoli commented on #96
Hello @nschurmann, the `dragstart` and `dragend` events do not receive any arguments:
https://developers.google.com/maps/documentation/javascript/3.exp/reference

![screen shot 2017-05-17 at 4 51 44 pm](https://cloud.githubusercontent.com/assets/1308971/26163360/571bea44-3b21-11e7-9213-f4fc53a11ee1.png)

If you need to get the center of the map when a drag ends, you can store the map reference tha

[2017-05-17 15:55] #96 closed

[2017-05-17 15:57] nschurmann commented on #96
It actually did help!, thanks!

[2017-05-17 15:59] MicheleBertoli commented on #95
Hello @malexandrum, the click event of the marker returns a `MouseEvent` object:
https://developers.google.com/maps/documentation/javascript/reference#MouseEvent

![screen shot 2017-05-17 at 4 56 09 pm](https://cloud.githubusercontent.com/assets/1308971/26163543/ea600bf0-3b21-11e7-96b5-1bbe72fd7340.png)

If you need a reference to the marker you need to pass it by yourself, for example by binding

[2017-05-17 15:59] #95 closed

[2017-05-17 19:13] malexandrum commented on #95
@MicheleBertoli i was actually in need of the Google marker object and I don't see how to bind that other than forking your project.
Thanks!

[2017-05-17 19:16] malexandrum opened #97 "load the places library in a single call"
Is it possible to supply additional libraries to be loaded to the Gmaps component like places?

[2017-05-17 19:28] malexandrum commented on #97
got it, it's in the params prop to the Gmaps component

[2017-05-17 19:28] #97 closed

[2017-05-17 22:03] MicheleBertoli commented on #95
I'm not sure how forking this repo solves the problem, but here is an example:

[code]

Hope this helps.

[2017-05-17 22:36] malexandrum commented on #95
@MicheleBertoli Your code makes total sense when you need to know which one of your markers has been clicked, I just needed access to the Google Marker object like we get access to the Google Map object in the onMapCreated handler.

[2017-05-18 01:22] MicheleBertoli commented on #95
What about this?

[code]

[2017-05-18 01:23] MicheleBertoli commented on #95
What about this?

[code]

[code]

Please let me know if it solves your issue.

[2017-05-18 22:05] malexandrum commented on #95
In this case markers is an array of objects with only lat and lng, no getEntity method.

[2017-05-19 05:44] MicheleBertoli commented on #95
Hello @malexandrum,
`markers` is an array of objects, but I'm looping through `this.markers` (which is an array of ref nodes) in the example.
Sorry for the confusion, you should add the code of the [second](https://github.com/MicheleBertoli/react-gmaps/issues/95#issuecomment-302274659) example to the [first](https://github.com/MicheleBertoli/react-gmaps/issues/95#issuecomment-302244341) one.

This

[2017-05-19 12:09] VaskaDogana opened #98 "how customizing circle, marker?"
May be create square or triangle, change color or using svg?

[2017-05-19 20:49] malexandrum opened #99 "Passing children to InfoWindow"
Michele,
Could you add support for specifying children to the InfoWindow component? I know you have the 'content' prop on it, but I need to pass a link that is handled by a react method on click, and that's not possible with the content prop I guess. Should be pretty straight forward to support children, isn't it?

Thank you.

[2017-05-20 20:25] MicheleBertoli commented on #98
Hello @VaskaDogana, you can customize the `react-gmaps` components using the same props described in the Google Maps SDK docs (e.g. `<Circle radius={500} />`).
Here is a custom maker example: #53

[2017-05-20 20:25] #98 closed

[2017-05-20 20:28] MicheleBertoli commented on #99
This doesn't seem straightforward but if you think it is please submit a PR, I'll be happy to review it.
At the moment this feature is not supported, see #85.

[2017-05-20 20:28] #99 closed

[2017-05-21 05:00] malexandrum commented on #95
You're right, I was binding the handler so this was referring to my component instead of the marker. Works as you said, thanks again.

[2017-05-31 13:58] gabrielHosino opened #100 "Custom KML layers"
I give the user the option to upload a kml file, is it possible to show that on the map?

[2017-05-31 19:36] MicheleBertoli commented on #100
Thanks for opening the issue #100 @gabrielHosino
With this package, you can potentially do everything you do using the regular the Gmap SDK.
For example, the `onMapCreated` callback gives you the `map` object which you can use to do something like this:
[code]
Please let me know if you need more information.

[2017-05-31 19:36] #100 closed

[2017-06-06 10:18] geraldsamosir opened #101 "using gmaps polyline"
can i use google maps polyline  in this package ? if yes, can you give some example  ? for use it or maybe modification this package

[2017-06-07 05:52] MicheleBertoli commented on #101
Hello @geraldsamosir, any feature of the Google Maps SDK works with this package.
The `onMapCreated` callback gives you the actual `map` instance, which you can use to do whatever you need, for example:

[code]

<img width="513" alt="screen shot 2017-06-07 at 06 50 14" src="https://user-images.githubusercontent.com/1308971/26864021-bfa0c6de-4b4d-11e7-904b-8912aa0f3296.png">

[2017-06-07 05:52] #101 closed

[2017-06-11 18:49] dgana opened #102 "Polygon"
Could you provide an example on how to draw a polygon like this?

![screenshot from 2017-06-12 01-47-34](https://user-images.githubusercontent.com/19804786/27013628-5123f57e-4f11-11e7-8142-9857c17fc03a.png)

Thanks a lot for the react gmaps it helped me a lot! i just need to know on how to implement polygon in react-gmaps. Thanks!

[2017-06-11 19:26] MicheleBertoli commented on #102
Hello @dgana, thanks for opening the issue.
The `onMapCreated` callback gives you the map object, and you can use any functionality of the Google Map SDK.
For example:

[code]

I hope this helps.

[2017-06-11 19:26] #102 closed

[2017-06-14 15:31] copperstick6 opened #103 "PolyLine for drawing lines between markers"
Hey!
I'm relatively new to this package, and I've been messing with it for the past couple of days. I'm just wondering if there is support for PolyLines (drawing and connecting markers) and if there are, please add a small code sample so that I can test it!
Thanks in advance.

[2017-06-14 15:36] copperstick6 commented on #103
I think I figured it out, but would like confirmation..
By utilizing the onMapCreated callback I can then utilize google.maps.Polyline to draw my polylines.
Closing issue since I found the solution =).

[2017-06-14 15:48] copperstick6 commented on #103
`    var coords = [];
    for(var i = 0; i < this.props.list.length; i++){
      coords.push({lat: this.props.list[i].lat, lng: this.props.list[i].long});
    }
    var polyline = new google.maps.Polyline({
      paths: coords,
      geodesic: true,
      strokeColor: '#FF0000',
      strokeOpacity: 1.0,
      strokeWeight: 2
    });
    polyline.setMap(map);`
I'm having an error here where google

[2017-06-14 16:22] MicheleBertoli commented on #103
Hello @copperstick6
Are you running that code inside `onMapCreated`?
Can you please provide a non-working example?

[2017-06-14 17:03] copperstick6 commented on #103
yeah sure, here's my onMapCreated method:
`
  onMapCreated(map) {
    map.setOptions({
      disableDefaultUI: true
    });
    var coords = [];
    for(var i = 0; i < this.props.list.length; i++){
      coords.push({lat: this.props.list[i].lat, lng: this.props.list[i].long});
    }
    var polyline = new google.maps.Polyline({
      paths: coords,
      geodesic: true,
      strokeColor: '#FF0000

[2017-06-14 17:07] copperstick6 commented on #103
So how I have it set up is the Map is a child component being rendered within two components. I've done some searching, but they all seem to point to putting the <script> with the google maps v3 js api into the html file header, but I have done that and it doesn't seem to be solving my problem.

[2017-06-14 17:14] copperstick6 commented on #103
Hey @MicheleBertoli I fixed the error. The error resided within using create-react-app which we were using to create our entire react application. The way to resolve the error is to add window.google.maps.Polyline when creating a google object. It would be nice if you could include a snippet to that effect within the Readme, since create-react-app is becoming more and more popular.

[2017-06-14 17:15] copperstick6 commented on #103
Git Issue resolved on the main create-react-app repo [here](https://github.com/facebookincubator/create-react-app/issues/955)

[2017-06-15 16:31] ChuchoJuarez opened #104 "Get lat and long with pointer"
Hi I want to know if it is possible to get the coordinates with the pointer.

regards

[2017-06-17 07:53] MicheleBertoli commented on #104
Hello @ChuchoJuarez, can you please explain what you are trying to do in more details?
I'm not sure what you mean by "with pointer".
Thanks!

[2017-06-17 07:57] MicheleBertoli commented on #103
Hello @copperstick6 thanks for all the information.
I'm not sure if your problem is related to the tests (in that case the technique described in the issue you referenced is the right solution - it is also used in this repo), or the application in the browser.
In the second case, the problem might be different.
Thanks!

[2017-06-17 12:34] copperstick6 commented on #103
I'm referencing the application in the browser, I wrote my own react app using create-react-app and ran into this error where google was undefined and had to use window.google when creating PolyLines and Polygons. I'm not sure exactly what the root of the error is, or what's causing it, but it seems like when I create a react app manually (not using create-react-app) the problem does not exist.

[2017-06-17 12:38] copperstick6 commented on #104
Hey @ChuchoJuarez,
I'm assuming you want to get the coordinates of the user clicks. Below is a sample code snippet that would allow you to get the latitude and longitude of the user's click:

[code]

[2017-06-18 10:34] MicheleBertoli commented on #103
This is interesting because `google.maps` should always exist when `onMapCreated` occurs since the map has been created.

[2017-06-18 12:27] copperstick6 commented on #103
It seems that with create-react-app [you need to use window to use the google object](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#using-global-variables)

[2017-06-18 13:03] MicheleBertoli commented on #103
Got it, thanks!
It's a linting issue.

[2017-06-18 13:03] #103 closed

[2017-06-20 14:53] ChuchoJuarez commented on #104
Thanks!!!!! @copperstick6 this is just what I needed

[2017-06-20 15:35] #104 closed

[2017-06-30 09:34] hipertracker commented on #52
How to get info from Google Map to the external code? I want to capture the zoom and all visible markers. I render `<Gmaps onZoomChange={nothing => "nothing is returned :("}/>` I found Gmaps has `getMap()` function but how to use it? I tried `const ref = <Gmaps/>; ref.getMap()`, it does not work. I tried `<Gmaps getMap={nothing => 'again, nothing is returned here :('}/>` and no joy either.  Any hi

[2017-06-30 09:52] MicheleBertoli commented on #52
Hello @hipertracker, is this related to the markers clusterer? (It doesn't seem so).
If that's the case, do you mind opening a dedicated issue? Thanks!

[2017-07-10 10:40] hipertracker commented on #52
I wrote my own custom wrapper for Google Maps to solve it. My callbacks return the map instance. So I can run every Google API I need.

[2017-07-10 10:50] MicheleBertoli commented on #52
Oh, that's exactly what this package does @hipertracker :)

The `onMapCreated` callback gives you the `map` object and the `getMap` method can be called on the Component's instance (see [here](https://facebook.github.io/react/docs/refs-and-the-dom.html) how to use refs).

The `onZoomChanged` (please note the final "d") event [does not pass any argument](https://developers.google.com/maps/documenta

[2017-07-10 16:35] gabrielHosino opened #105 "Load libraries"
Hello again,

Is it possible to load libraries from the API?
I tried to pass the names of the libraries in the params like this:

const gmParams = { v: '3.exp', key: apiKey, libraries: 'visualization' }

And then pass that constant to the params props from gmaps component.

Am i doing it wrong or is this not possible to be done right now?

Thank you all!

[2017-07-10 20:08] copperstick6 commented on #105
I think it should be possible. Have you put `<script src="https://maps.googleapis.com/maps/api/js?libraries=visualization"></script>
` inside your HTML file?

[2017-07-11 05:20] MicheleBertoli commented on #105
Hello @gabrielHosino, I can confirm that passing `libraries: 'visualization'` to the params prop, generates the correct URL:
[code]

It is also possible to manually load the script, as @copperstick6 suggested, but not necessary.

[2017-07-11 05:20] #105 closed

[2017-07-12 05:31] Abrinlouis opened #106 "How can i disable the zooming."
I need to disable the zomming when scrolling on the map.Please help me to solve this issue

[2017-07-12 12:04] copperstick6 commented on #106
Hey @Abrinlouis,
This is what your Maps Component should look like if you want to disable the scroll wheel:
[code]

I've tested this solution and it should work. Let me know if you run into any more issues.

[2017-07-12 12:10] gabrielHosino commented on #105
@MicheleBertoli @copperstick6 Thanks for the replies. So I rather use the params prop to do this, but it's not working for me. I tried to create a heatmap in the callback function but it didn't find the visualization library.

[2017-07-12 12:59] copperstick6 commented on #105
Do you have some sample code we could take a look at?

[2017-07-12 13:36] copperstick6 commented on #105
@gabrielHosino I have the exact same issue as well, I think. For some reason, I have to put it inside my index.html file. Here's some sample code that I cooked up:
[code]
If I do not include the URL inside my index.html file, this code will throw the following error:
[code]

@MicheleBertoli can you take a look at this?

[2017-07-12 18:30] gabrielHosino commented on #105
My code is just like yours. The only difference is that i'm trying to create the heatmap inside the function onMapCreated.

[2017-07-12 18:47] copperstick6 commented on #105
yeah, I'm creating a heatmap marker whenever the user clicks on the map, still no clue why the code doesn't work.
If I import it manually using script tags, it works. That should be a temporary solution while we take a look at the library issue.

[2017-07-13 08:32] Abrinlouis commented on #106
Thanks you..It worked

[2017-07-13 08:33] Abrinlouis opened #107 "Map is showing blank"
The map is not showing at the inital time.When we try to inspect or if the window size is changed,the map is showing up

[2017-07-13 09:09] Abrinlouis commented on #107
<Gmaps onClick={this.showPropertDetailPage}
            width={'350px'}
            height={'450px'}
            lat={ lat }
            lng={ long }
            zoom={12}
            params={params}
            scrollwheel={false}
           onMapCreated={this.onMapCreated}
          viewport={true}>
          <Marker
                    lat={ lat }
                    lng={ long }
            />

[2017-07-13 10:26] Abrinlouis commented on #106
My map is showing blank at the first time,but when try to inspect or resize the window map is showing up.
Can you please help me sort this issue

[2017-07-13 11:54] copperstick6 commented on #107
Sample code?

[2017-07-13 11:58] copperstick6 commented on #107
Going off your sample code that you edited here:
[code]
Make sure that you have closed off the GMaps component with `</Gmaps>`. Assuming that you've done that, take a look at the network section and make sure that it's loading.
If it has been loading, make sure that there's not an error with your logic in your onMapCreated method. That tends to cause an error. If you can post your implementation h

[2017-07-13 11:59] copperstick6 commented on #105
@gabrielHosino you should re-open this issue.

[2017-07-13 12:44] gabrielHosino commented on #105
@MicheleBertoli Could you take a look at that issue? I don't know if I can re-open this.

[2017-07-13 13:15] copperstick6 commented on #105
yeah you're going to have to wait for the owner of the repo to re-open this issue since he closed it

[2017-07-16 05:39] MicheleBertoli commented on #106
Thanks @copperstick6.

@Abrinlouis can you please provide a non-working example? Are you setting width and height?

[2017-07-16 05:40] MicheleBertoli commented on #106
Thank you very much @copperstick6.

@Abrinlouis closing this in favor of #107

[2017-07-16 05:40] #106 closed

[2017-07-16 05:55] MicheleBertoli commented on #105
@gabrielHosino @copperstick6 unfortunately I can't repro the issue.

The following code works as expected:

[code]

I assume you are trying to access the `visualization` property when the library is not fully loaded.
I suggest you to activate the handler only when `onMapCreated` has been fired (e.g. using a flag).
Please let me know if you need more information.

[2017-07-16 21:45] copperstick6 commented on #105
Ah, that makes sense. I put in a callback in my onMapCreated that waits for the library to load, and it worked.

[2017-07-17 13:29] gabrielHosino commented on #105
@MicheleBertoli @copperstick6 Thanks for the help.

@copperstick6 Could you show me how you made the callback?

[2017-07-17 13:38] copperstick6 commented on #105
Sure. I just created a new state that was default to false, and then set it to true whenever the library loaded. The way you can do it is you can catch the error that occurs due to the library not loading and once the error disappears, set the state to true and load whatever methods you need.

[2017-07-24 08:34] Cumquat commented on #107
This may actually be to do with Google Maps. I had a similar problem with maps not showing when they were in a Bootstrap Tab Content. I created a function that was fired when the Tab menu was clicked and the map then showed.
`window.google.maps.event.trigger(this.theMap, 'resize');`
Hope this helps.

[2017-07-26 22:56] hipertracker opened #109 "<Marker> not displayed if wrapped by another React component"
Why  <Marker lat={coords.lat} lng={coords.lng}/> (I use the example from README) does not show up on the map when it's a part of another React component? Even simple stateless component is not displayed on the map. Am I missing something?

This works:
[code]
This does not work (the marker is not displayed on the map):
[code]

[2017-07-27 08:45] hipertracker commented on #109
Hmm, I found the problem. Marker is a React component but it does not render anything. The rende() returns null. It only provides some binding to Google API. I need to reconsider the way of building higher order component here.

[2017-07-27 12:12] copperstick6 commented on #109
If you could get the map instance, you could just manually add it in by creating a marker object using `google.map.Marker({})` and using `marker.setMap(map)`

[2017-07-27 15:57] hipertracker commented on #109
I can get map instance. Yes, I can built it that way.

[2017-07-27 15:57] #109 closed

[2017-07-27 21:39] sonsoleslp commented on #29
Is this fixed in the master branch now?

[2017-07-27 21:54] sonsoleslp opened #110 "Custom Markers"
Is there any way to provide a custom react component as a GMap child (a custom marker) ?

[2017-07-28 06:11] copperstick6 commented on #110
I'm not sure exactly what you're trying to ask, but I'll try my best.
You can directly use the google maps javascript package to add custom markers. I recall there being a method to create a custom marker using google.maps.SYMBOL. After creating the marker, as long as you have the map instance, you can just use setMap to add it to the map, which will update with the marker.

[2017-07-28 08:48] MicheleBertoli commented on #110
[Here](https://github.com/MicheleBertoli/react-gmaps/issues/53) it is an example of how to customize the markers.
I hope it helps.

Thanks @copperstick6.

[2017-07-28 08:48] #110 closed

[2017-07-28 08:49] MicheleBertoli commented on #107
Thanks @copperstick6 @Cumquat.

[2017-07-28 08:49] #107 closed

[2017-07-28 08:52] MicheleBertoli commented on #29
Hello @sonsoleslp, this branch has never been merged because it needed proper testing and feedback, but please keep in mind that the "memory leaking" problem is due to the Google Maps SDK (not this package) and it happens only in some particular scenario (for example, it never happened to me - and I used this packaged in production).

[2017-07-28 08:54] sonsoleslp commented on #110
Thanks so much! That's exactly what I meant!

[2017-08-11 21:29] Rud156 opened #111 "Support for responsive map containers"
The map component that exists is not responsive. Please add support for responsive map containers

[2017-08-11 21:33] Rud156 commented on #111
Sorry. My fault didn't check my code then

[2017-08-11 21:33] #111 closed

[2017-09-04 15:33] hermawan22 opened #112 "Marker event listener for infoWindow"
Hi, it's possible if there have a feature for open infowindow when click on marker?

Thanks man for your great job. 👍

[2017-09-04 16:59] copperstick6 commented on #112
Hey!
One way you could design your markers to do so is to just use the maps API. Here's how you would do it.
[code]
Let me know if you run into any more issues.

[2017-09-04 19:36] MicheleBertoli commented on #112
Thank you very much for opening the issue @hermawan22 and @copperstick6 for suggesting a solution.
Here is also a similar issue #40 with an example.
I hope this helps.

[2017-09-04 19:36] #112 closed

[2017-09-04 23:02] hermawan22 commented on #112
Thanks for your response @MicheleBertoli  and suggest me [#40](url).
But the position is still not appropriate with marker (still cover the marker).
And if possible could you suggest me, how to share event between difference component on react without any state management?
Component1 trigger event -> Component2 listen the triggered event.
Component1 and Component2 don't have any relation (totally

[2017-09-05 20:42] MicheleBertoli commented on #112
For the position of the `InfoWindow`, you can use `pixelOffset={new google.maps.Size(0, -40)}`.
While to trigger the `InfoWindow` from a different component, you can use the "closest common ancestor" (see [Lifting State Up](https://facebook.github.io/react/docs/lifting-state-up.html)).

Here is a demo:

![infowindow](https://user-images.githubusercontent.com/1308971/30082357-6cf341ba-9282-11e7-816

[2017-09-05 22:50] hermawan22 commented on #112
Thanks @MicheleBertoli, this is what i looking for.
Very helpful and once again thanks for your help and your kindness. 👍

[2017-10-03 14:17] VaskaDogana opened #113 "How use preloader in 'loadingMessage'?"

[2017-10-08 07:28] MicheleBertoli commented on #113
Hello @VaskaDogana,
you can pass any component to `loadingMessage`.

For example:
[code]

I hope this answers your question.

[2017-10-08 07:28] #113 closed

[2017-10-08 07:31] MicheleBertoli commented on #77
Closing due to inactivity.

[2017-10-08 07:31] #77 closed

[2017-10-08 07:31] MicheleBertoli commented on #29
Closing due to inactivity.

[2017-10-08 07:31] #29 closed

[2017-10-10 14:51] VaskaDogana commented on #113
Thanks!

[2017-10-19 20:05] nschurmann commented on #33
Hi! would be nice to render custom components (like react native maps)

[2017-10-25 23:09] MicheleBertoli commented on #52
I'm closing this as it's not relevant anymore, but PRs are always welcome.
Thank you very much, everyone.

[2017-10-25 23:09] #52 closed

[2017-11-27 10:55] MicaelaLV opened #115 "heroku is down"

[2017-12-02 10:35] MicheleBertoli commented on #115
Fixed, thank you very much @MicaelaLV.

[2017-12-02 10:35] #115 closed

[2018-01-11 16:53] maulberto3 opened #116 ".setOptions method in entity.js missing"
Hi, that.

[2018-01-11 17:00] maulberto3 commented on #116
Note: Upon research, I believe you got it from the Google Maps API, so there is no reason to define it right?

[2018-01-13 10:17] MicheleBertoli commented on #116
Hello @maulberto3, thank for opening this issue.
Is there any particular reason why you would define `setOption`?
The component is using [setOption](https://github.com/MicheleBertoli/react-gmaps/blob/master/src/components/entity.js#L22) under the hood and it provides an abstraction over the Google Maps options, so that they can be passed as props.

[2018-01-13 10:17] #116 closed

[2018-01-20 15:24] clarabatt opened #117 "Map navigation buttons hidden and click on map enter fullscreen mode"
Hello Michele,

I have a problem with gmaps, the native buttons of google maps are hidden and when I click on map it activates full screen mode. It doesn't return any error.

![Image](https://user-images.githubusercontent.com/6672198/35184919-6cc14afc-fdda-11e7-8ee5-e0c4a9a1af53.png)

I don't have `onClick` props or function on component. I commented functions props and the bug continues, even rem

[2018-01-23 14:07] clarabatt commented on #117
I have fixed the full screen problem, it was a label 😑
I put the component inside a label and it triggered a full screen event.

[2018-01-23 14:07] #117 closed

[2018-04-28 13:58] thehatami opened #120 "How to drop marker with a click"
i cant find any document about how i can drop a pin to map by user click. how can i do it?

[2018-04-30 02:16] maulberto3 commented on #120
Hi. Try conditional rendering and a custom method.

[2018-05-07 06:27] MicheleBertoli commented on #120
Thank you very much @thehatami @maulberto3.
This is not something you'll find in the documentation as it's not specific to this package.

However, I built a simple demo to show you a potential approach to this problem.

![click](https://user-images.githubusercontent.com/1308971/39687822-f3082e32-51c7-11e8-9059-f4a6caf0862d.gif)

[Source](https://gist.github.com/MicheleBertoli/605f43b0f0b44515ac1f5

[2018-05-07 06:27] #120 closed, assigned to nobody

[2018-06-27 02:18] benji011 opened #122 "Can't retrieve data from markers/circles"
When creating multiple Circles &/or Markers, we can pass events like this:

[code]

using onMouseOver(ev), we can pass event data but there is no useful data being passed at all.
How can I retrieve something like the ID of this circle/marker?

I've tried passing 'this' in as an argument but doing so only returns

[code]

refs is empty, and props has nothing to do with the circle being hovered over

[2018-07-01 18:42] MicheleBertoli commented on #122
Hello @benji011, this library is a React wrapper around the Google Maps API so that all the functionality match 1:1. The `onMouseOver` event, receives `LatLng` as described in the [official documentation](https://developers.google.com/maps/documentation/javascript/reference/3.exp/map#MouseEvent).

[2018-07-01 18:42] #122 closed, assigned to nobody

[2019-04-15 15:28] AbeCole commented on #52
I know this is closed but I have forked the repo and made a basic implementation of this. There is a related PR and could do with some more work if anyone has the chance (ideally getting events working would be priority imo): https://github.com/MicheleBertoli/react-gmaps/pull/123

[2019-05-31 21:50] avgDev0 commented on #53
I have my map located in root/Map/index.js and my icons in root/Map/assets/ want to specify an icon for a marker like:

`<Marker ...props icon="./assets/image.ico" />` and it doesn't seem to work, what am I missing?

UPDATE: I changed from .ico extension to .svg file and worked.

[2019-07-02 12:54] ojcloveu opened #124 "Map Label"
Could you add this to react-gmaps?
https://www.npmjs.com/package/js-map-label
we need it very much. or can u show me the say to implement it with reat-gmaps please

[2019-08-06 22:52] JosueAshton opened #125 "NPM react-gmaps - how to get latitude and logintud when finished dragging a marker?"
Hi, the function callback gives me zero results

In the render:
` <Marker
                            lat={this.state.coords.lat}
                            lng={this.state.coords.lng}
                            draggable={true}
                            onDragEnd={(e)=>{console.log(e)}} />`

the result per console
`onDragEnd
_.$k {latLng: _.R, wa: undefined, pixel: _.P, ra: undefined}
latLng:

[2020-03-10 15:03] capa89k opened #126 "Old React lifecycle method"
Hello,

I see that the library still use the componentWillReceiveProps lifecycle method that is now deprecated in react 16.
Would be possible to simply switch to componentDidUpdate method? I have already made the change, if you are ok I can create a PR.

Regards.

[2020-03-11 10:30] capa89k commented on #126
In case someone want to use the library I forked it and solved the warning with react 16.

[2020-03-11 10:30] #126 closed, assigned to nobody

[2020-04-19 23:18] michaelmota commented on #125
Hi,

To get the latitude/longitude just to a function callback like:

`
const onDragEnd = (e) => {
  console.log(e.latLng.lng(), e.latLng.lat())
}
`
On e.latLng.lng() you'll let longitude, e.latLng.lat() you'll get Latitude.

[2020-08-19 12:14] rohith231 commented on #103
`import React, { Component } from "react";
import { Map, Marker, Popup, FeatureGroup,LayersControl,TileLayer  } from "react-leaflet";
import ReactLeafletGoogleLayer from "react-leaflet-google-layer";
import { EditControl } from "react-leaflet-draw";
import L from "leaflet";
import "leaflet-routing-machine/dist/leaflet-routing-machine.css";
import "leaflet-routing-machine";

import { withLeaflet }

[2020-08-19 12:16] rohith231 opened #127 "polyline is not defined in react-leaflet tried to solve the issue from Months.Below is the code"
[code]

[2021-02-02 09:22] prashanthravi19 commented on #40
is there a way to set the code in ts?

[2021-10-29 17:28] cristianoccazinsp opened #129 "Outdated React"
Warning: componentWillReceiveProps has been renamed, and is not recommended for use. See https://reactjs.org/link/unsafe-component-lifecycles for details.

Please update the library to handle updated react versions.